div.menu {
	position:absolute;
	margin-left: 3em;
	width: 7em;
	border: 1px solid #AAAAAA;
}

.unit_test h3 {
	text-align:center;
	margin-left:6em;
	margin-right:6em;
}

.unit_test a {
	color: #225599;
	font-weight: bold;
	text-decoration: none;
}

.unit_test a:hover {
	text-decoration: underline;
	font-weight: bold;
	color: #225599;
}


table.build {
	margin: auto;
	margin-right: auto;
}

.build td {
	text-align: center;
}

td.time {
	font-weight: bold;
	color: #104060;
}

.build .passed {
	color: #00FF00;
}

.build .failed, .aborted {
	color: #FF0000;
}

.build .notstarted {
	color: #FF7F00;
}

div.autohide {
	border: 1px solid #225599;
	padding-left: 0.3em;
	padding-right: 0.3em;
}

div.autohide_over {
	position: absolute;
	background:#FFFBF0 none repeat scroll 0 0;
	border: 1px solid #225599;
	padding: 0.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
/*	max-width: 60em;*/
	text-align: left;
}

table.test_error {
	margin-left:auto;
	margin-right:auto;
}

.test_error .Error {
	color: #FF0000;
}

.test_error .Warning {
	color: #FF7F00;
}

.test_error .Exception {
	color: #A00000;
}

.test_error .Message {
	color: #00FF00;
}

.test_error td {
	text-align: center;
}

table.build_history {
	width: auto;
	max-width:60em;
	min-width:10em;
	margin: auto auto auto auto;
}

div.paginate {
	color: #225599;
	font-weight: bold;
	text-align: right;
	margin-left: auto;
	margin-right: 0;
	font-size: 0.8em;
}

div.left {
	float:left;
}

div.right {
	float:right;
}

div.left, div.right {
	margin-top:1.4em;
	margin-bottom:auto;
}

.paginate .active {
	color: #104060;
}

.paginate a.hidden {
	visibility: hidden;
}

/*.paginate span {
	color: #225599;
}*/
