body {
    background-color:  #fffbf0;
    margin: 0px;
    }
h1 {
    text-align: center;
    }

div.header {
    background:#444444 url("http://www.wesnoth.org/mw/skins/glamdrol/headerbg.jpg") repeat-x scroll center top;
    border-bottom:1px solid #000000;
    margin:0pt;
    padding:0pt;
    width:100%;
    text-align: center;
}
div.topnav {
    background:#272727 url("http://www.wesnoth.org/mw/skins/glamdrol/navbg.png") repeat-x scroll center bottom;
    border-top:1px solid #595959;
    margin:0pt;
    padding:3px 4px 15px;
    text-align:center;
}
div.topnav a {
    color:#B48648;
    font-family:"Trebuchet MS",sans-serif;
    line-height:0.8em;
    font-size:0.8em;
    font-weight:bold;
    text-decoration:none;
}
div.topnav a:hover {
    color:#CCCCCC;
}
div.main {
    margin: 0em 1em 0em 1em;
}
img {
    border: none;
}
div.header img {
    vertical-align:middle;
}
.hidden {display: none;}

div#footer {
    clear: both;
    font-size: 0.7em;
    line-height:0.7em;
    border-top: 1px solid black;
    padding: 1em;
    color:#333333;
    font-family:sans-serif;
    }

table#campaigns th {
    text-align: left;
}

table#campaigns td img {
    float: left;
}

div.type {
    display: none;
}

td:hover div.type {
    display: block;
    left: 12px;
    position: absolute;
    width: 20em;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 8px;
}

div.desc {
    display: none;
}

td:hover div.desc {
    display: block;
    left: 72px;
    position: absolute;
    width: 20em;
    background-color: #ffffff;
    border: 1px solid black;
    padding: 8px;
}

/* tables */
table.tablesorter {
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border: 1px solid #000000;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
}
