<?php
$config = array('history_builds_per_page' => 18,
				'history_number_of_pages_in_pagenation' => 5,
				// Possible: "scons test 2>&1"
				// "cd src && make test 2>&1 && cd .."
				// cmake? No idea :P
				'compile_command' => 'scons 2>&1',
				// Possible: "./test-debug"
				// "src/test"
				// cmake? You know it
				'binary_name' => './test-debug',
				'build_prune_age' => 3*24*3600 // in seconds
);
?>
