---
Checks:          '-*,bugprone-move-forwarding-reference,bugprone-use-after-move,cppcoreguidelines-rvalue-reference-param-not-moved,modernize-use-nullptr,performance-move-const-arg,performance-move-constructor-init,performance-no-automatic-move,performance-unnecessary-value-param'
CheckOptions:
  - key: cppcoreguidelines-rvalue-reference-param-not-moved.AllowPartialMove
    value: true
WarningsAsErrors: true
...
