---
Checks:          '-*,bugprone-move-forwarding-reference,bugprone-use-after-move,cppcoreguidelines-rvalue-reference-param-not-moved,modernize-use-nullptr,performance-unnecessary-value-param'
WarningsAsErrors: true
...
