[submodule "src/modules/mariadbpp"]
	path = src/modules/mariadbpp
	url = https://github.com/viaduck/mariadbpp.git
	ignore = untracked
[submodule "src/modules/lua"]
	path = src/modules/lua
	url = https://github.com/lua/lua.git
[submodule "utils/wesnoth-map-diff"]
	path = utils/wesnoth-map-diff
	url = git@github.com:cooljeanius/wesnoth-map-diff.git
