.settings
.project
.cproject
.pydevproject
revision.h
*.swp
.DS_Store
make_translation
merge_translations
Makefile
autom4te.cache
stamp-h1
.libs
config.h
config.log
config.status
configure.lineno
Makefile.in
aclocal.m4
config.h.in
configure
.scons-option-cache
.sconsign.dblite
.sconf_temp
CMakeFiles
CMakeLists.txt.user
CMakeLists.txt.user.*
cmake_install.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
uninstall.cmake
translations
6not
Debug
tags
wesnoth.exp
wesnoth.ilk
wesnoth.lib
wesnoth.ncb
wesnoth.opt
wesnoth.plg
userdata
Lib
*.exe
*.dll
*.txt
boost_test_result.xml
/wesnothd*
/test*
/wesnoth*
/campaignd*
/cutter*
/exploder*
/build/
locales
.kdev_include_paths
.kdev4
cmake/Linux/CodeBlocks:
Project.cbp
Project.layout
#cmake/win32/MSVC:
ALL_BUILD.vcproj
INSTALL.vcproj
PACKAGE.vcproj
Project.sln
ZERO_CHECK.vcproj
uninstall.vcproj
Project.ncb
Project.suo
*.vcproj.*.user
projectfiles/VC1*
projectfiles/VC201*
*Neuer Ordner*
Thumbs.db
error.log
