*.swp
.DS_Store
wesnoth
wesnothd
make_translation
merge_translations
Makefile
autom4te.cache
stamp-h1
.libs
config.h
config.log
config.status
configure.lineno
Makefile.in
aclocal.m4
config.h.in
configure
translations
6not
