language: cpp
sudo:     required

services:
    - docker

cache:
  ccache: true
  directories:
    - $HOME/build-cache

matrix:
  include:
    - compiler: clang
      env: TOOL=scons CXXSTD=11 NLS=true
      
    - compiler: gcc
      env: TOOL=scons CXXSTD=14 NLS=false
      
    - compiler: gcc
      env: TOOL=scons CXXSTD=11 NLS=false OPT=-O0
      
    - compiler: gcc
      env: TOOL=cmake CXXSTD=11 NLS=false
      
    - compiler: clang
      env: TOOL=scons CXXSTD=11 NLS=false OPT=-O0
      
    - compiler: clang
      env: TOOL=cmake CXXSTD=11 NLS=false
      
    - os: osx
      compiler: clang
      env: TOOL=scons CXXSTD=11 NLS=false OPT=-O0
    
    - os: osx
      compiler: clang
      osx_image: xcode9.2
      env: TOOL=xcodebuild
      
install:
    - . ./utils/travis/steps/install.sh

script:
    - ./utils/travis/steps/script.sh

notifications:
    email: false
    irc:
        channels:
            - "chat.freenode.net#wesnoth-dev"
        template:
            - "\x02%{repository}\x0f#\x0312%{build_number}\x0f (\x0307%{branch}\x0f - \x02%{commit}\x0f : \x0303%{author}\x0f): \x02%{message}\x0f"
            - "Build details : \x0302%{build_url}\x0f"
        on_success: change
        on_failure: always
