language: cpp
sudo:     required

services:
    - docker

cache:
  ccache: true
  directories:
    - build-cache

matrix:
  include:
    - compiler: clang
      env: CXXSTD=11 NLS=true TOOL=scons
      
    - compiler: gcc
      env: CXXSTD=14 NLS=false TOOL=scons
      
    - compiler: gcc
      env: CXXSTD=11 NLS=false TOOL=scons OPT=-O0
      
    - compiler: gcc
      env: CXXSTD=11 NLS=false TOOL=cmake
      
    - compiler: clang
      env: CXXSTD=11 NLS=false TOOL=scons OPT=-O0
      
    - compiler: clang
      env: CXXSTD=11 NLS=false TOOL=cmake
      
    - os: osx
      compiler: clang
      env: CXXSTD=11 NLS=false TOOL=scons OPT=-O0

before_install:
    - export EXTRA_FLAGS_RELEASE=""
    - export WML_TESTS=true
    - export PLAY_TEST=true
    - export MP_TEST=true
    - export WML_TEST_TIME=15
    - export BOOST_TEST=true

    - if [ "$OPT" = "-O0" ]; then
          export EXTRA_FLAGS_RELEASE="-O0";
          export PLAY_TEST=false;
          export MP_TEST=false;
          export WML_TEST_TIME=20;
      fi

install:
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
          travis_wait ./utils/travis/install_deps.sh;
          export CXXFLAGS="-I/usr/local/opt/openssl/include $CFLAGS";
          export LDFLAGS="-L/usr/local/opt/openssl/lib $LDFLAGS";
      else
          docker build -t wesnoth-repo:16.04 -f docker/Dockerfile-travis .;
      fi

script:
    - if [ "$TRAVIS_OS_NAME" = "osx" ]; then
          ln -s build-cache/ build;
          ./utils/travis/check_utf8.sh;
          ./utils/travis/utf8_bom_dog.sh;
          "$CXX" --version;
          scons wesnoth wesnothd campaignd boost_unit_tests build=release ctool="$CC" cxxtool="$CXX" --debug=time extra_flags_config="-pipe" extra_flags_release="$EXTRA_FLAGS_RELEASE" strict=true cxx_std="$CXXSTD" nls="$NLS" jobs=2 enable_lto=false;
      else
          export DISPLAY=:99.0;
          /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1024x768x24;
          
          docker run -v "$PWD"/build-cache:/home/wesnoth-travis/build -v "$HOME"/.ccache:/root/.ccache wesnoth-repo:16.04 bash -c './docker_run.sh "$@"' bash "$NLS" "$TOOL" "$CC" "$CXX" "$CXXSTD" "$EXTRA_FLAGS_RELEASE" "$WML_TESTS" "$WML_TEST_TIME" "$PLAY_TEST" "$MP_TEST" "$BOOST_TEST";
      fi

notifications:
    email: false
    irc:
        channels:
            - "chat.freenode.net#wesnoth-dev"
        template:
            - "\x02%{repository}\x0f#\x0312%{build_number}\x0f (\x0307%{branch}\x0f - \x02%{commit}\x0f : \x0303%{author}\x0f): \x02%{message}\x0f"
            - "Build details : \x0302%{build_url}\x0f"
        on_success: change
        on_failure: always
