language: cpp

services:
    - docker

cache:
  ccache: true
  directories:
    - $HOME/build-cache
    - $HOME/flatpak-cache
    - $TRAVIS_BUILD_DIR/projectfiles/VC14/Debug
    - $TRAVIS_BUILD_DIR/projectfiles/VC14/Release
    - $TRAVIS_BUILD_DIR/projectfiles/VC16/Debug
    - $TRAVIS_BUILD_DIR/projectfiles/VC16/Release
    - $HOME/vcpkg

git:
  depth: 5

env:
  global:
    secure: Fw9j5BpL8e5f2boEC2D8l0Cm+pCJx7lyvpZvockSM9cF2Cnt/QPbknJLXPryExLhweQO/lvi0MPuoMhRJv0QbChBjdXzJmR+uU1ejCHfpkTc6Cm/yo3tZMG3Zm7vHs00gla2ytK+XyFIVZLtFxyzy2fxjD64sFO3YrUp0KzSXp8=

jobs:
  include:
    - os: windows
      env: TOOL=msbuild NLS=false IMAGE=VC14 BRANCH=master CFG=Debug

    - os: windows
      env: TOOL=msbuild NLS=false IMAGE=VC14 BRANCH=master CFG=Release

    - os: windows
      env: TOOL=msbuild NLS=false IMAGE=VC16 BRANCH=master CFG=Debug UPLOAD=true

    - os: windows
      env: TOOL=msbuild NLS=false IMAGE=VC16 BRANCH=master CFG=Release

    - os: osx
      osx_image: xcode11.3
      compiler: clang
      env: TOOL=xcodebuild NLS=true CFG=Debug BRANCH=master UPLOAD=true

    - os: osx
      osx_image: xcode11.3
      compiler: clang
      env: TOOL=xcodebuild NLS=true CFG=Release BRANCH=master

    - compiler: gcc
      env: TOOL=scons CXXSTD=14 NLS=only IMAGE=2004 BRANCH=master CFG=release

    - env: TOOL=scons CXXSTD=14 NLS=true IMAGE=mingw BRANCH=master CFG=release STRICT=false UPLOAD=true

    - env: TOOL=scons CXXSTD=14 NLS=false IMAGE=steamrt BRANCH=master CFG=release CC=gcc-5 CXX=g++-5

    - env: TOOL=scons NLS=true IMAGE=flatpak BRANCH=master

    - compiler: gcc
      env: TOOL=scons CXXSTD=17 NLS=false IMAGE=2004 BRANCH=master CFG=release VALIDATE=true

    - compiler: gcc
      env: TOOL=scons CXXSTD=14 NLS=false IMAGE=2004 BRANCH=master CFG=debug UPLOAD=true

    - compiler: gcc
      env: TOOL=cmake CXXSTD=14 NLS=false IMAGE=2004 BRANCH=master CFG=Release

    - compiler: clang
      env: TOOL=cmake CXXSTD=14 NLS=false IMAGE=2004 BRANCH=master CFG=Debug

    - compiler: gcc
      env: TOOL=scons CXXSTD=14 NLS=false IMAGE=1804 BRANCH=master CFG=debug UPLOAD=true

install:
    - . ./utils/travis/steps/install.sh

script:
    - ./utils/travis/steps/script.sh

notifications:
    email: false
    irc:
        channels:
# "chat.freenode.net#wesnoth-dev"
            - secure: "HwCgH1VmpYbfv4giKIGkATkWc6o1+HXH827JXwxDnwFGZrLyf+1t4mHC6OaTMOFkZvT7qhSfIe80GeiRkg2x14ZpUE9XYewUUOSq7dRJlk2KLWlGRf5fZFHZVEdDOPdTdJjCLGqddY+4sMjqMlrtgIOxbPSXKLPTJLBhEEr8ZqE="
        template:
            - "\x02%{repository}\x0f#\x0312%{build_number}\x0f (\x0307%{branch}\x0f - \x02%{commit}\x0f : \x0303%{author}\x0f): \x02%{message}\x0f"
            - "Build details : \x0302%{build_url}\x0f"
        on_success: change
        on_failure: always
