#textdomain wesnoth-utbs

[unit_type]
    id=Quenoth Captain
    name= "Quenoth Captain"
    race=quenoth
    image="units/quenoth/captain.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=47
    movement_type=sandland
    movement=5
    experience=90
    level=2
    alignment=neutral
    advances_to=Quenoth Sentinel
    cost=32
    usage=fighter
    description=""+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}+{SPECIAL_NOTES_LEADERSHIP}
    die_sound={SOUND_LIST:ELF_HIT}
    [abilities]
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [attack]
        name=glaive
        description= "glaive"
        icon=attacks/glaive.png
        type=pierce
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=glaive
        description= "glaive"
        icon=attacks/glaive.png
        type=blade
        range=melee
        damage=8
        number=4
    [/attack]
[/unit_type]
