#textdomain wesnoth-utbs

[unit_type]
    id=Quenoth Sentry
    name= "Quenoth Sentry"
    race=quenoth
    image="units/quenoth/sentry.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=47
    movement_type=sandland
    movement=5
    experience=90
    level=2
    alignment=neutral
    advances_to=Quenoth Sentinel
    cost=32
    usage=fighter
    description=""+{SPECIAL_NOTES}+{SPECIAL_NOTES_FIRSTSTRIKE}+{SPECIAL_NOTES_STEADFAST}
    die_sound={SOUND_LIST:ELF_HIT}
    [abilities]
        {ABILITY_STEADFAST}
    [/abilities]
    [attack]
        name=pike
        description= "pike"
        icon=attacks/pike.png
        type=pierce
        range=melee
        damage=10
        number=3
        [specials]
            {WEAPON_SPECIAL_FIRSTSTRIKE}
        [/specials]
    [/attack]
    [attack]
        name=javelin
        description= "javelin"
        icon=attacks/javelin-human.png
        type=pierce
        range=ranged
        damage=12
        number=1
    [/attack]
[/unit_type]
