<html xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
<py:def function="header">
<div id="header">
	<div id="logo">
		<a href="http://www.wesnoth.org/"><img alt="Wesnoth logo" src="http://www.wesnoth.org/mw/skins/glamdrol/wesnoth-logo.jpg" /></a>
	</div>
</div> <!-- /header -->
<div id="nav">
	<ul>
		<li><a href="http://www.wesnoth.org/">Home</a></li>
		<li><a href="http://www.wesnoth.org/wiki/Play">Play</a></li>
		<li><a href="http://www.wesnoth.org/wiki/Create">Create</a></li>
		<li><a href="http://www.wesnoth.org/forum/">Forums</a></li>
		<li><a href="http://www.wesnoth.org/wiki/Support">Support</a></li>
		<li><a href="http://www.wesnoth.org/wiki/Project">Project</a></li>
		<li><a href="http://www.wesnoth.org/wiki/Credits">Credits</a></li>
		<li><a href="http://stats.wesnoth.org/">Game Stats</a></li>
	</ul>
</div> <!-- /nav -->
</py:def>
</html>
