<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="org.wesnoth.builders.wesnoth"
         name="Wesnoth Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run
               class="org.wesnoth.builder.WesnothProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.wesnoth.natures.wesnoth"
         name="Wesnoth Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.wesnoth.builder.WesnothProjectNature">
         </run>
      </runtime>
      <builder
            id="org.wesnoth.builders.wesnoth">
      </builder>
   </extension>
   <extension
         id="org.wesnoth.markers.wmllint"
         name="WMLLint suggestion"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.taskmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="org.wesnoth.application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/wesnoth-icon_16.png"
            thread="main"
            visible="true">
         <run
               class="org.wesnoth.product.WesnothApplication">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.wesnoth.preferences.Preferences">
      </initializer>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.wesnoth.application"
            description="User Made Content Developent Environment"
            name="Wesnoth UMC Dev">
         <property
               name="appName"
               value="Wesnoth UMC Dev">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
         <property
               name="startupForegroundColor"
               value="000000">
         </property>
         <property
               name="startupMessageRect"
               value="100,265,200,15">
         </property>
         <property
               name="startupProgressRect"
               value="0,280,455,15">
         </property>
         <property
               name="aboutImage"
               value="icons/wesnoth-about.png">
         </property>
         <property
               name="aboutText"
               value="Battle for Wesnoth User Made Content Development">
         </property>
         <property
               name="windowImages"
               value="icons/wesnoth-icon_16.png,icons/wesnoth-icon_32.png,icons/wesnoth-icon.png">
         </property>
      </product>
   </extension>
   <extension
         id="org.wesnoth.help"
         point="org.eclipse.help.toc">
      <toc
            file="help/toc.xml"
            primary="true">
      </toc>
      <toc
            file="help/tocfeatures.xml">
      </toc>
      <toc
            file="help/tocgettingstarted.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="help/contextHelp.xml"
            plugin="org.wesnoth">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="map"
            icon="icons/wesnoth_editor-icon_16.png"
            id="org.wesnoth.editor.mapEditor"
            launcher="org.wesnoth.editors.MapFileEditor"
            name="Wesnoth map editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.wesnoth.wizards"
            name="Wesnoth">
      </category>
      <wizard
            category="org.wesnoth.wizards"
            class="org.wesnoth.wizards.newfile.NewConfigFileWizard"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.wizards.NewConfigFileWizard"
            name="Wesnoth Config File (.cfg)">
         <description>
            Creates a new config file
         </description>
      </wizard>
      <wizard
            category="org.wesnoth.wizards"
            class="org.wesnoth.wizards.emptyproject.EmptyProjectNewWizard"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.wizards.emptyProjectWizard"
            name="Empty project"
            project="true">
         <description>
            Creates a new empty project
         </description>
      </wizard>
      <wizard
            category="org.wesnoth.wizards"
            class="org.wesnoth.wizards.campaign.CampaignNewWizard"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.wizards.CampaignNewWizard"
            name="Wesnoth Campaign"
            project="true">
         <description>
            Create a new Wesnoth campaign.
         </description>
      </wizard>
      <wizard
            category="org.wesnoth.wizards"
            class="org.wesnoth.wizards.scenario.ScenarioNewWizard"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.wizards.ScenarioNewWizard"
            name="Wesnoth Scenario"
            project="false">
         <description>
            Create a Wesnoth single player or multiplayer scenario.
         </description>
      </wizard>
      <wizard
            category="org.wesnoth.wizards"
            class="org.wesnoth.wizards.era.EraNewWizard"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.wizards.eraNewWizard"
            name="Wesnoth Era"
            project="false">
         <description>
            Create a new wesnoth era.
         </description>
      </wizard>
      <wizard
            category="org.wesnoth.wizards"
            class="org.wesnoth.wizards.faction.FactionNewWizard"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.wizards.factionNewWizard"
            name="Wesnoth Faction"
            project="false">
         <description>
            Create a new Wesnoth faction.
         </description>
      </wizard>
      <wizard
            category="org.wesnoth.wizards"
            class="org.wesnoth.wizards.generator.WizardLauncher"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.wizards.wizardLauncher"
            name="Wizard Launcher"
            project="false">
         <description>
            Launches the wizard based on the selected tag.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.views">

      <category
            name="Wesnoth"
            id="org.wesnoth.views">
      </category>
      <view
            allowMultiple="false"
            category="org.wesnoth.views"
            class="org.wesnoth.views.WesnothProjectsExplorer"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.views.WesnothProjectsExplorer"
            name="Wesnoth Projects">
      </view>
      <view
            allowMultiple="false"
            category="org.wesnoth.views"
            class="org.wesnoth.views.AddonsView"
            icon="icons/icon-addon-publish.png"
            id="org.wesnoth.addonsView"
            name="Wesnoth Addons "
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <commonFilter
            activeByDefault="true"
            id="org.wesnoth.navigator.filters.hideAutoLinkedProject"
            name="Hide Autolinked CFG Projects">
         <filterExpression>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IProject">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="_AutoLinked_CFGExternalFiles_">
                  </test>
               </adapt>
            </or></filterExpression>
      </commonFilter>
      <commonFilter
            activeByDefault="true"
            id="org.wesnoth.navigator.filters.buildxml"
            name="Hide build.xml">
         <filterExpression>
            <or>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.name"
                        value="build.xml">
                  </test>
               </adapt>
            </or>
         </filterExpression>
      </commonFilter>
      <commonWizard
            type="new"
            wizardId="org.wesnoth.wizards.NewConfigFileWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.wesnoth.wizards.emptyProjectWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.wesnoth.wizards.CampaignNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.wesnoth.wizards.ScenarioNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.wesnoth.wizards.eraNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.wesnoth.wizards.factionNewWizard">
         <enablement></enablement>
      </commonWizard>
      <commonWizard
            type="new"
            wizardId="org.wesnoth.wizards.wizardLauncher">
         <enablement></enablement>
      </commonWizard>
      <navigatorContent
            activeByDefault="true"
            appearsBefore="org.eclipse.ui.navigator.resourceContent"
            contentProvider="org.wesnoth.views.WesnothProjectsExplorerContentProvider"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.wesnothNavigatorContent"
            labelProvider="org.wesnoth.views.WesnothProjectsExplorerLabelProvider"
            name="Wesnoth Resources"
            priority="lowest"
            sortOnly="false">
        <enablement>
             <or>         
                <instanceof 
                        value="org.eclipse.core.resources.IResource" /> 
             </or>
        </enablement>
        <commonSorter
              class="org.wesnoth.views.WesnothProjectsExplorerViewerSorter"
              id="org.wesnoth.navigator.wesnothContentSorter">
           <parentExpression>
              <or>
                 <instanceof
                       value="org.eclipse.core.resources.IProject">
                 </instanceof>
              </or>
           </parentExpression>
        </commonSorter>
        <triggerPoints>
           <or>
              <instanceof
                    value="org.eclipse.core.resources.IContainer">
              </instanceof>
           </or>
        </triggerPoints>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.wesnoth.views.WesnothProjectsExplorer">
      </viewer>
      <viewerContentBinding
            viewerId="org.wesnoth.views.WesnothProjectsExplorer">
         <includes>   
            <contentExtension pattern="org.eclipse.jdt.java.ui.javaContent" />
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resourceContent">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.linkHelper">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.workingSets">
            </contentExtension>
            <contentExtension
                  pattern="org.eclipse.ui.navigator.resources.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.wesnoth.navigator.filters.*">
            </contentExtension>
            <contentExtension
                  pattern="org.wesnoth.wesnothNavigatorContent">
            </contentExtension>
            <contentExtension
                  pattern="org.wesnoth.navigator.wesnothContentSorter">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding
            viewerId="org.wesnoth.views.WesnothProjectsExplorer">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.wesnoth.popupMenus.projectContributions"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.wesnoth.action.WesnothProjectReport"
               enablesFor="1"
               icon="icons/wesnoth-icon_16.png"
               id="org.wesnoth.popupMenus.projectReport"
               label="Wesnoth project report"
               menubarPath="_wesnoth">
         </action>
         <visibility>
               <objectState
                     name="projectNature"
                     value="org.wesnoth.natures.wesnoth">
               </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.wesnoth.popupMenus.mapDirectoriesContributions"
            nameFilter="*maps*"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="org.wesnoth.action.ImportMap"
               enablesFor="1"
               icon="icons/wesnoth_editor-icon_16.png"
               id="org.wesnoth.popupMenus.importmap"
               label="Import map"
               menubarPath="_wesnoth">
         </action>
         <visibility>
               <objectState
                     name="projectNature"
                     value="org.wesnoth.natures.wesnoth">
               </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.wesnoth.popupMenus.mapFilesContributions"
            nameFilter="*.map"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.wesnoth.action.OpenMapInEditor"
               enablesFor="1"
               icon="icons/wesnoth_editor-icon_16.png"
               id="org.wesnoth.popupMenus.openMapInEditor"
               label="Open map in editor"
               menubarPath="_wesnoth">
         </action>
         <visibility>
               <objectState
                     name="projectNature"
                     value="org.wesnoth.natures.wesnoth">
               </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.wesnoth.popupMenus.configFilesContributions"
            nameFilter="*.cfg"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.wesnoth.action.OpenScenarioInGame"
               enablesFor="1"
               icon="icons/wesnoth-icon_16.png"
               id="org.wesnoth.popupMenus.openScenarioInGame"
               label="Open scenario in game"
               menubarPath="_wesnoth">
         </action>
         <menu
               icon="icons/wesnoth-icon_16.png"
               id="org.wesnoth.popupMenus.preprocessorMenu"
               label="Preprocessor"
               path="_wesnoth">
            <groupMarker
                  name="preprocessorMenuMarker">
            </groupMarker>
         </menu>
         <action
               class="org.wesnoth.action.ShowPreprocessedConfig"
               id="org.wesnoth.popupMenus.preprocessedConfig"
               label="Show preprocessed file"
               menubarPath="plugin.preprocessorMenu/preprocessorMenuMarker">
         </action>
         <action
               class="org.wesnoth.action.ShowPlainPreprocessedConfig"
               id="org.wesnoth.popupMenus.plainPreprocessedconfig"
               label="Show plain preprocessed file"
               menubarPath="plugin.preprocessorMenu/preprocessorMenuMarker">
         </action>
         <menu
               icon="icons/wesnoth-icon_16.png"
               id="org.wesnoth.popupMenus.wmltoolsCfgMenu"
               label="WML Tools"
               path="_wesnoth">
            <groupMarker
                  name="wmltoolsCfgMenuMarker">
            </groupMarker>
         </menu>
         <action
               class="org.wesnoth.action.RunWMLLintOnSelection"
               id="org.wesnoth.popupMenus.wmllintOnFile"
               label="Run &quot;wmllint&quot; on this file"
               menubarPath="plugin.wmltoolsCfgMenu/wmltoolsCfgMenuMarker">
         </action>
         <action
               class="org.wesnoth.action.RunWMLScopeOnSelection"
               id="org.wesnoth.popupMenus.wmlscope"
               label="Run &quot;wmlscope&quot; on this file"
               menubarPath="plugin.wmltoolsCfgMenu/wmltoolsCfgMenuMarker">
         </action>
         <action
               class="org.wesnoth.action.RunWMLIndentOnSelection"
               id="org.wesnoth.popupMenus.wmlindent"
               label="Run &quot;wmlindent&quot; on this file"
               menubarPath="plugin.wmltoolsCfgMenu/wmltoolsCfgMenuMarker">
         </action>
         <visibility>
               <objectState
                     name="projectNature"
                     value="org.wesnoth.natures.wesnoth">
               </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.wesnoth.popupMenus.containerContributions"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IContainer">
         <action
               class="org.wesnoth.action.UploadAddon"
               icon="icons/wesnoth-icon_16.png"
               id="org.wesnoth.popupMenus.addonUpload"
               label="Upload Add-on"
               menubarPath="_wesnoth">
         </action>
         <action
               class="org.wesnoth.action.OpenCampaignInGame"
               icon="icons/wesnoth-icon_16.png"
               id="org.wesnoth.popupMenus.startCampaign"
               label="Open campaign in game"
               menubarPath="_wesnoth">
         </action>
         <menu
               icon="icons/wesnoth-icon_16.png"
               id="org.wesnoth.popupMenus.wmltoolsContainerMenu"
               label="WML Tools"
               path="_wesnoth">
            <groupMarker
                  name="wmltoolsContainerMenuMarker">
            </groupMarker>
         </menu>
         <action
               class="org.wesnoth.action.RunWMLScopeOnSelection"
               id="org.wesnoth.popupMenus.wmlscopeOnContainer"
               label="Run &quot;wmlscope&quot; on the container"
               menubarPath="plugin.wmltoolsContainerMenu/wmltoolsContainerMenuMarker">
         </action>
         <action
               class="org.wesnoth.action.RunWMLIndentOnSelection"
               id="org.wesnoth.popupMenus.wmlindentOnContainer"
               label="Run &quot;wmlindent&quot; on the container"
               menubarPath="plugin.wmltoolsContainerMenu/wmltoolsContainerMenuMarker">
         </action>
         <action
               class="org.wesnoth.action.RunWMLLintOnSelection"
               id="org.wesnoth.popupMenus.wmllintOnContainer"
               label="Run &quot;wmllint&quot; on the container"
               menubarPath="plugin.wmltoolsContainerMenu/wmltoolsContainerMenuMarker">
         </action>
         <visibility>
               <objectState
                     name="projectNature"
                     value="org.wesnoth.natures.wesnoth">
               </objectState>
         </visibility>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.wesnoth.popupMenus.allProjectContributions"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="org.wesnoth.action.RegenerateBuildFiles"
               enablesFor="+"
               id="org.wesnoth.popupMenus.regenBuildFiles"
               label="Regenerate build files"
               menubarPath="_wesnoth">
         </action>
         <menu
               id="buildersMenu"
               label="Builders"
               path="_wesnoth">
            <separator name="buildersGroup" />
         </menu>
         <action
               class="org.wesnoth.builder.ToggleWesnothNatureAction"
               enablesFor="+"
               icon="icons/wesnoth-icon_16.png"
               id="org.wesnoth.popupMenus.addRemoveWesnothNature"
               label="Add/Remove wesnoth Builder"
               menubarPath="buildersMenu/buildersGroup">
         </action>
         <action
               class="org.eclipse.xtext.builder.nature.ToggleXtextNatureAction"
               enablesFor="+"
               icon="icons/wesnoth-icon_16.png"
               id="org.wesnoth.popupMenusj.addRemovextextNature"
               label="Add/Remove xtext Builder"
               menubarPath="buildersMenu/buildersGroup">
         </action>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.wesnoth.commands.category"
            name="Wesnoth">
      </category>
      <command
            defaultHandler="org.wesnoth.handlers.OpenEditorHandler"
            description="Opens the wesnoth editor"
            id="org.wesnoth.commands.openEditor"
            name="openeditor">
      </command>
      <command
            defaultHandler="org.wesnoth.handlers.ImportMapHandler"
            description="Import an existing map into the current maps folder"
            id="org.wesnoth.commands.importMap"
            name="importMap">
      </command>
      <command
            defaultHandler="org.wesnoth.handlers.OpenGameHandler"
            description="Opens the game"
            id="org.wesnoth.commands.openGame"
            name="openGame">
      </command>
      <command
            defaultHandler="org.wesnoth.handlers.OpenMapInEditorHandler"
            description="Opens the selected map in the map editor"
            id="org.wesnoth.commands.openMapInEditor"
            name="openMapInEditor">
      </command>
      <command
            defaultHandler="org.wesnoth.handlers.SetupWorkspaceHandler"
            description="Setups the workspace"
            id="org.wesnoth.commands.setupWorkspace"
            name="setupWorkspace">
      </command>
      <command
            defaultHandler="org.wesnoth.handlers.TestHandler"
            id="org.wesnoth.commands.test"
            name="test command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/wesnoth-icon_16.png"
               id="org.wesnoth.menus.wesnothMenu"
               label="Wesnoth"
               mnemonic="s">
            <command
                  commandId="org.wesnoth.commands.openEditor"
                  icon="icons/wesnoth_editor-icon_16.png"
                  id="org.wesnoth.menus.openEditor"
                  label="Open editor"
                  mnemonic="e">
            </command>
            <command
                  commandId="org.wesnoth.commands.openGame"
                  icon="icons/wesnoth-icon_16.png"
                  id="org.wesnoth.menus.openGame"
                  label="Open game"
                  mnemonic="g">
            </command>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="org.wesnoth.commands.importMap"
                  icon="icons/wesnoth_editor-icon_16.png"
                  label="Import Map">
            </command>
            <command
                  commandId="org.wesnoth.commands.openMapInEditor"
                  icon="icons/wesnoth_editor-icon_16.png"
                  label="Open map with editor"
                  style="push">
            </command>
            <separator
                  name="separator2"
                  visible="true">
            </separator>
            <command
                  commandId="org.wesnoth.commands.setupWorkspace"
                  label="Setup Workspace"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Open plugin&apos;s preferences"
                  style="push">
               <parameter
                     name="preferencePageId"
                     value="org.wesnoth.preferences.UMCPage">
               </parameter>
            </command>
            <separator
                  name="separator3"
                  visible="true">
            </separator>
            <command
                  commandId="org.wesnoth.commands.test"
                  label="Test (FOR DEBUG ONLY!!)"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.wesnoth.preferences.WesnothPreferencesPage"
            id="org.wesnoth.preferences.UMCPage"
            name="Wesnoth UMC">
      </page>
      <page
            category="org.wesnoth.preferences.UMCPage"
            class="org.wesnoth.preferences.WesnothInstallsPage"
            id="org.wesnoth.preferences.InstallsPage"
            name="Wesnoth Installs">
      </page>
      <page
            category="org.wesnoth.preferences.UMCPage"
            class="org.wesnoth.preferences.WMLToolsPreferencePage"
            id="org.wesnoth.preferences.WMLToolsPage"
            name="WML Tools">
      </page>
      <page
            category="org.wesnoth.preferences.UMCPage"
            class="org.wesnoth.preferences.AddonManagerPreferencePage"
            id="org.wesnoth.preferences.AddonPage"
            name="Addon Manager">
      </page>
      <page
            category="org.wesnoth.preferences.UMCPage"
            class="org.wesnoth.preferences.AdvancedPreferencePage"
            id="org.wesnoth.preferences.AdvancedPage"
            name="Advanced Preferences">
      </page>
   </extension>
   <extension
         id="org.wesnoth.perspectives"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.wesnoth.product.WMLPerspective"
            icon="icons/wesnoth_editor-icon_16.png"
            id="org.wesnoth.product.WMLPerspective"
            name="Wesnoth">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.wesnoth.views.WesnothProjectsExplorer"
            id="org.wesnoth.views.WesnothProjectsExplorer">
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.intro"
            label="Welcome to Wesnoth User Made Content Plugin">
      </intro>
      <introProductBinding
            introId="org.wesnoth.intro"
            productId="org.wesnoth.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            content="help/intro/content.xml"
            id="org.wesnoth.introConfigId"
            introId="org.wesnoth.intro">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx"
                  style="content/shared.css">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         id="org.wesnoth.marker.wmlscope"
         name="WMLScope problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.activities">
      <activity
            id="org.wesnoth.product.disableextra"
            name="disable_extra_features">
         <enabledWhen>
            <with variable="true">
               <equals
                     value="false">
               </equals>
            </with></enabledWhen>
      </activity>
      
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.jdt.ui.wizards.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.jdt.debug.ui.snippetEditor.NewSnippetFileCreationWizard"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.team.cvs.ui.newLocation"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.team.cvs.ui.newProjectCheckout"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.emf.ecore.presentation.EcoreModelWizardID"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.emf.codegen.ecore.ui.EmptyProjectWizard"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.emf.mwe2.language.ui.wizard.NewMwe2FileWizard"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.emf.mwe.internal.ui.wizard.NewWorkflowFileWizard"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.mylyn.tasks.ui.wizards.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.wst.xml.ui.internal.wizards.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.wst.xml.ui.XMLExampleProjectCreationWizard"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.xpand.ui.wizard.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.xtend.shared.ui.wizard.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.xtend.xtend.wizard.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.xtext.xtext.ui.wizard.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.xtend.check.ui.wizard.NewCheckFileWizard"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.xtext.examples.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.wst.xsd.ui.internal.wizards.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.wst.dtd.ui.internal.wizard.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.ui.externaltools.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.debug.*"> </activityPatternBinding>
      <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.mylyn.tasks.ui.bug.report.*"> </activityPatternBinding>
    <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.ui.actions.showKeyAssistHandler.*"> </activityPatternBinding>
    <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.ui.cheatsheets.actions.CheatSheetHelpMenuAction.*"> </activityPatternBinding>
    <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.mylyn.task.*"> </activityPatternBinding>
    <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.jdt.*"> </activityPatternBinding>
    <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.xtend.*"> </activityPatternBinding>
    <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.team.*"> </activityPatternBinding>
    <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.wst.*"> </activityPatternBinding>
    <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.team.internal.ccvs*"> </activityPatternBinding>
    <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.search.*"> </activityPatternBinding>
    <activityPatternBinding  activityId="org.wesnoth.product.disableextra" pattern=".*/org.eclipse.ant.*"> </activityPatternBinding>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.wesnoth.product.ActionWiper">
      </startup>
   </extension>
   -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            default-charset="UTF-8"
            file-extensions="cfg"
            id="org.wesnoth.wmlcontent"
            name="WML File"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="org.wesnoth.propertypages.WesnothProjectPage"
            icon="icons/wesnoth-icon_16.png"
            id="org.wesnoth.propertyPages.wesnothProject"
            name="Wesnoth Project">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IProject">
            </instanceof></enabledWhen>
      </page>
   </extension>
   
  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.wesnoth.org/WML" 
       class = "org.wesnoth.wml.WmlPackage"
       genModel = "org/wesnoth/WML.genmodel" /> 
    
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <category
           id="org.wesnoth.importWizards"
           name="Wesnoth">
     </category>
     <wizard
           category="org.wesnoth.importWizards"
           class="org.wesnoth.importWizards.ImportProjectWizard"
           icon="icons/wesnoth-icon_16.png"
           id="org.wesnoth.projectImportWizard"
           name="Import Wesnoth Project">
        <description>
           Import a directory as a wesnoth project
        </description>
     </wizard>
  </extension>
   
</plugin>
