adodb.config.php
adodb-datadict.inc.php
adodb-errorhandler.inc.php
adodb-error.inc.php
adodb-errorpear.inc.php
adodb-exceptions.inc.php
adodb.inc.php
adodb-perf.inc.php
adodb-perf-module.inc.php
adodbSQL_drivers
adodb-time.inc.php
adodb-xmlschema.inc.php
documentation
generic_modules
ignore.txt
lang
query_debug_console
session
tests
tohtml.inc.php
wesnoth_adodb_version.txt
xmlschema.dtd
