[Desktop Entry]
Version=1.0
Type=Application
Name=Battle for Wesnoth Map Editor
Name[cs]=Editor map Bitvy o Wesnoth
Name[de]=Battle for Wesnoth Karteneditor
Name[es]=Editor de mapas de Wesnoth
Name[fr]=Éditeur de cartes Wesnoth
Name[hu]=Harc Wesnothért pályaszerkesztő
Name[lt]=Mūšio dėl Vesnoto žemėlapių redaktorius
Name[sr]=Уређивач мапа Боја за Веснот
Name[sr@ijekavian]=Уређивач мапа Боја за Веснот
Name[sr@ijekavianlatin]=Uređivač mapa Boja za Vesnot
Name[sr@latin]=Uređivač mapa Boja za Vesnot
Name[tr]=Wesnoth Savaşı Harita Düzenleyici
GenericName=Map Editor
GenericName[cs]=Editor map
GenericName[de]=Karteneditor
GenericName[es]=Editor de mapas
GenericName[fr]=Éditeur de cartes
GenericName[hu]=Pályaszerkesztő
GenericName[lt]=Žemėlapių redaktorius
GenericName[sr]=Уређивач мапа
GenericName[sr@latin]=Uređivač mapa
GenericName[tr]=Harita Düzenleyici
Comment=A map editor for Battle for Wesnoth maps
Comment[cs]=Editor map pro Bitvu o Wesnoth
Comment[de]=Ein Karteneditor für Battle for Wesnoth
Comment[es]=Un editor de mapas para la Batalla por Wesnoth
Comment[fr]=Un éditeur de cartes pour La Bataille pour Wesnoth
Comment[hu]=A Harc Wesnothért játék pályaszerkesztője
Comment[lt]=Žemėlapių redaktorius Mūšio dėl Vesnoto žemėlapiams
Comment[sr]=Уређивач за мапе намењене Боју за Веснот
Comment[sr@latin]=Uređivač za mape namenjene Boju za Vesnot
Comment[tr]=Wesnoth savaşı haritaları için harita düzenleyici
Icon=wesnoth_editor-icon
Exec=wesnoth -e
Categories=Game;StrategyGame;

