[Desktop Entry]
Version=1.0
Type=Application
Name=Battle for Wesnoth Map Editor
Name[de]=Battle for Wesnoth Karteneditor
Name[fr]=Éditeur de cartes Wesnoth
Name[hu]=Harc Wesnothért pályaszerkesztő
Name[lt]=Mūšio dėl Wesnoth žemėlapių redaktorius
GenericName=Map Editor
GenericName[de]=Karteneditor
GenericName[fr]=Éditeur de cartes
GenericName[hu]=Pályaszerkesztő
GenericName[lt]=Žemėlapių redaktorius
Comment=A map editor for Battle for Wesnoth maps
Comment[de]=Ein Karteneditor für Battle for Wesnoth
Comment[fr]=Un éditeur de cartes pour La Bataille pour Wesnoth
Comment[hu]=A Harc Wesnothért játék pályaszerkesztője
Comment[lt]=Žemėlapių redaktorius Mūšio dėl Wesnoth žemėlapiams
Icon=wesnoth_editor-icon.png
Exec=wesnoth_editor
Categories=Game;StrategyGame;

