[Desktop Entry]
Version=1.0
Type=Application
Name=Battle for Wesnoth
Name[af]=Die Stryd vir Wesnoth
Name[ca]=Batalla per Wesnoth
Name[cs]=Bitva o Wesnoth
Name[de]=Battle for Wesnoth
Name[dk]=Kampen om Wesnoth
Name[es]=La batalla por Wesnoth
Name[eu]=Wesnotheko Guda
Name[fi]=Taistelu Wesnothista
Name[fr]=La Bataille pour Wesnoth
Name[gl]=A batalla polo Noroeste
Name[he]=הקרב על ווסנות'
Name[hu]=Harc Wesnothért
Name[it]=Battle for Wesnoth
Name[lt]=Mūšis dėl Vesnoto
Name[pt]=A Batalha por Wesnoth
Name[ru]=Битва за Веснот
Name[sk]=Bitka o Wesnoth
Name[sr]=Бој за Веснот
Name[sr@ijekavian]=Бој за Веснот
Name[sr@ijekavianlatin]=Boj za Vesnot
Name[sr@latin]=Boj za Vesnot
Name[tr]=Wesnoth Savaşı
Name[vi]=Trận chiến vì Wesnoth
GenericName=Strategy Game
GenericName[af]=Strategie-spel
GenericName[ca]=Joc d'estrategia
GenericName[cs]=Strategická hra
GenericName[de]=Strategiespiel
GenericName[dk]=Strategi-spil
GenericName[es]=Juego de estrategia
GenericName[eu]=Estrategiako jokoa
GenericName[fi]=Strategiapeli
GenericName[fr]=Jeu de stratégie
GenericName[gl]=Xogo de estratexia
GenericName[he]=משחק אסטרטגיה
GenericName[hu]=Stratégia
GenericName[it]=Gioco strategico
GenericName[lt]=Strateginis žaidimas
GenericName[pt]=Jogo de Estratégia
GenericName[ru]=Стратегическая игра
GenericName[sk]=Strategická hra
GenericName[sr]=Стратешка игра
GenericName[sr@latin]=Strateška igra
GenericName[tr]=Strateji Oyunu
GenericName[vi]=Trò chơi chiến lược
Comment=A fantasy turn-based strategy game
Comment[af]='n Fantasie beurt-basis strategie-spel
Comment[ca]=Un joc fantàstic d'estrategia per torns
Comment[cs]=Tahová strategická hra ve fantastickém prostředí
Comment[de]=Rundenbasiertes Strategiespiel im Fantasyszenario
Comment[dk]=Et fantasy træk-baseret strategi-spil
Comment[es]=Un juego de estrategia basado en turnos con un tema de fantasía
Comment[eu]=Giro fantastikoan eta txandetan oinarritutako estrategia jokoa
Comment[fi]=Vuoropohjainen fantasiastrategiapeli
Comment[fr]=Un jeu de stratégie au tour par tour dans un univers fantastique
Comment[gl]=Xogo de estratexia por quendas ambientado nun mundo fantástico.
Comment[he]=משחק אסטרטגיה ופנטסיה מבוסס מהלכים
Comment[hu]=Fantasy stílusú, körökre osztott, stratégiai játék
Comment[it]=Un gioco strategico a turni con ambientazione fantasy
Comment[lt]=Fantastinis ėjimais pagrįstas strateginis žaidimas
Comment[pt]=Um jogo de fantasia estratégico em turnos
Comment[ru]=Фантастическая пошаговая стратегия
Comment[sk]=Ťahová strategická hra z prostredia fantasy
Comment[sr]=Фантазијска стратешка игра на потезе
Comment[sr@latin]=Fantazijska strateška igra na poteze
Comment[tr]=Fantastik, sırayla oynanan bir strateji oyunu
Comment[vi]=Một trò chơi chiến lược dựa trên lượt đi theo phong cách thần thoại
Icon=wesnoth-icon
Exec=wesnoth
Categories=Game;StrategyGame;

