[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Battle for Wesnoth
Name[ca]=Batalla per Wesnoth
Name[ru]=Битва за Веснот
Name[dk]=Kampen om Wesnoth
Name[eu]=Wesnotheko Guda
Name[fr]=La Bataille pour Wesnoth
GenericName=Strategy Game
GenericName[ca]=Joc d'estrategia
GenericName[dk]=Strategi-spil
GenericName[eu]=Estrategiako jokoa
GenericName[fr]=Jeu de stratégie
Comment=A fantasy turn-based strategy game
Comment[ru]=Фантастическая походовая стратегия
Comment[ca]=Un joc fantàstic d'estrategia per torns
Comment[dk]=Et fantasy træk-baseret strategi-spil
Comment[eu]=Giro fantastikoan eta txandetan oinarritutako estrategia jokoa
Comment[fr]=Un jeu de stratégie au tour par tour dans un univers fantastique
Icon=wesnoth-icon.png
FilePattern=wesnoth
TryExec=wesnoth
Exec=wesnoth
Categories=Application;Game;StrategyGame;
