[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Battle for Wesnoth
GenericName=Strategy Game
Comment=A fantasy turn-based strategy game
Icon=wesnoth.png
FilePattern=wesnoth
TryExec=wesnoth
Exec=wesnoth
Category=Application;Game;StrategyGame;
