#header {
  background: url(http://www.wesnoth.org/mw/skins/glamdrol/headerbg_large.jpg) top repeat-x;
}

#languages {
  margin: 0;
  padding: 0;
  text-align: left;
}

#languages p {
  margin: 0;
}

#languages ul {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}

#languages li {
  display: inline;
  margin: 0;
  padding: 0 6px 0 0;
  list-style: none;
}
