#
# How to update manpages?
#
# 1) Run `make update-po4a' from the top directory.
# 2) Check which files have been changed, `svn st'.
#    If the original manpages haven't been modified, there should only
#    be changes in translated manpages (doc/man/ll/*).
# 3) Commit!
#
# Also, note that there might be incompatibilities between po4a versions,
# so using the latest version is highly recommended.
#

[po4a_langs] af bg ca ca_ES@valencia cs da de el en_GB es eo et eu fi fr gl_ES \
             he hu id it ja ko la lt nl nb_NO pl pt pt_BR ro ru sk sl sr \
             sr@latin sv tl tr zh_CN

[po4a_paths] wesnoth-man.pot $lang:$lang.po

[po4a_alias:wman] man opt:"-k 80 -L iso-8859-1" \
                  opt_cs:"-L iso-8859-2" \
                  opt_ja:"-L euc-jp" \
                  opt_ru:"-L koi8-r" \
                  opt_sk:"-L iso-8859-2"

[type:wman] ../../doc/man/wesnoth.6 \
            $lang:../../doc/man/$lang/wesnoth.6

[type:wman] ../../doc/man/wesnoth_editor.6 \
            $lang:../../doc/man/$lang/wesnoth_editor.6

[type:wman] ../../doc/man/wesnothd.6 \
            $lang:../../doc/man/$lang/wesnothd.6
