#textdomain wesnoth-utbs

[unit_type]
    id=Quenoth Moon Singer
    name= "Quenoth Moon Singer"
    race=quenoth
    gender=female
    image=units/quenoth/mystic.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=26
    movement_type=sandland
    [resistance]
        fire=110
        cold=130
    [/resistance]
    movement=5
    experience=32
    level=1
    alignment=chaotic
    advances_to=Quenoth Moon Shyde
    cost=18
    usage=healer
    [abilities]
    [/abilities]
    description= "Devoted to the spare nighttimes after the fall those elves gain much more powerfoll during their hours. "+{SPECIAL_NOTES}+{SPECIAL_NOTES_HEALS}+{SPECIAL_NOTES_POISON}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/quenoth/moon-singer-defend.png" units/quenoth/moon-singer.png {SOUND_LIST:ELF_FEMALE_HIT} }
    [attack]
        name=touch
        description= "touch"
        type=cold
        range=melee
        damage=10
        number=2
        icon=attacks/druidstaff.png
    [/attack]
    [attack]
        name=faerie fire
        description=_"faerie fire"
        type=arcane
        damage=7
        number=4
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        icon=attacks/faerie-fire.png
    [/attack]
[/unit_type]
