#textdomain wesnoth-utbs

[unit_type]
    id=Quenoth Moon Shyde
    name= "Quenoth Moon Shyde"
    race=quenoth
    gender=female
    image=units/quenoth/Moonshyde.png

    {MAGENTA_IS_THE_TEAM_COLOR}

    hitpoints=46
    movement_type=sandlandfloat
    #desert elves move fast across the sands, but are not used to forests
    #they are also a bit faster in caves
    [movement_costs]
        frozen=1
    [/movement_costs]
    [defense]
        frozen=60
    [/defense]
    [resistance]
        cold=150
        fire=100
    [/resistance]
    movement=5
    experience=150
    {AMLA_DEFAULT}
    level=3
    alignment=chaotic
    advances_to=null
    cost=52
    usage=mixed fighter
    [abilities]
        {ABILITY_NIGHT_REGENERATION}
    [/abilities]
    description= "Moonshydes have grown the wings of moth. Not in need to cover their bodys against the cold they are wearing a very light silk maden suit that protects against the sun."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_NIGHT_REGENERATION}+{SPECIAL_NOTES_POISON}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/quenoth/shaman-defend.png" units/quenoth/shaman.png {SOUND_LIST:ELF_FEMALE_HIT} }
    [attack]
        name=cold shock
        description= "cold shock"
        type=cold
        range=melee
        damage=12
        number=3
        image=attacks/iceball.png
        #image=attacks/cold-shock.png
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [attack]
        name=blowgun
        description= "blowgun"
        type=pierce
        range=ranged
        damage=2
        number=2
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [attack]
        name=wings
        description= "Wing Strike"
        type=impact
        range=melee
        damage=2
        number=2
        #image=attacks/wing-strike.png
        [specials]
            {WEAPON_SPECIAL_POISON}
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]
[/unit_type]
