#textdomain wesnoth-utbs

[unit_type]
    id=Quenoth Mystic
    name= "Quenoth Mystic"
    race=quenoth
    gender=female
    image=units/quenoth/mystic.png
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=26
    movement_type=sandland
    [resistance]
        fire=120
        cold=120
    [/resistance]
    movement=5
    experience=32
    level=1
    alignment=neutral
    advances_to=Quenoth Sibyl
    cost=18
    usage=healer
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    description= "The Mystics have choosen to seek the path of the elves early fairy anchestors. Their bodies are only halve bound to the spirital world and halve to the one of the living beings. Therefore they arent't that much influenced by their envirenment being of neutral alignment."+{SPECIAL_NOTES}+{SPECIAL_NOTES_HEALS}+{SPECIAL_NOTES_POISON}
    die_sound={SOUND_LIST:ELF_FEMALE_HIT}
    {DEFENSE_ANIM "units/elves-quenoth/shaman-defend.png" units/elves-quenoth/shaman.png {SOUND_LIST:ELF_FEMALE_HIT} }
    [attack]
        name=staff
        description= "staff"
        icon=attacks/druidstaff.png
        type=impact
        range=melee
        damage=4
        number=2
    [/attack]
    [attack]
        name=thorns
        description= "thorns"
        icon=attacks/thorns.png
        type=pierce
        damage=4
        number=3
    [/attack]
    [healing_anim]
        [frame]
            begin=-225
            end=-175
            image="units/quenoth/mystic-heal-1.png"
            halo="halo/quenoth/mystic--heal-halo-1.png"
        [/frame]
        [frame]
            begin=-175
            end=-125
            image="units/quenoth/mystic-heal-2.png"
            halo="halo/quenoth/mystic-heal-halo-2.png"
        [/frame]
        [frame]
            begin=-125
            end=-75
            image="units/quenoth/mystic-heal-3.png"
            halo="halo/quenoth/mystic-heal-halo-3.png"
        [/frame]
        [frame]
            begin=-75
            end=-25
            image="units/quenoth/mystic-heal-4.png"
            halo="halo/quenoth/mystic-heal-halo-4.png"
        [/frame]
        [frame]
            begin=-25
            end=25
            image="units/quenoth/mystic-heal-5.png"
            halo="halo/quenoth/mystic-heal-halo-5.png"
        [/frame]
        [frame]
            begin=25
            end=75
            image="units/quenoth/mystic-heal-6.png"
            halo="halo/quenoth/mystic-heal-halo-6.png"
        [/frame]
        [frame]
            begin=75
            end=125
            image="units/quenoth/mystic-heal-7.png"
            halo="halo/quenoth/mystic-heal-halo-7.png"
        [/frame]
        [frame]
            begin=125
            end=175
            image="units/quenoth/mystic-heal-8.png"
        [/frame]
        [frame]
            begin=175
            end=225
            image="units/quenoth/mystic-heal-9.png"
        [/frame]
    [/healing_anim]
[/unit_type]
