/* Stylesheet for wmlunits HTML output. */

body {
    background-color:  #fffbf0;
    margin: 0px;
    }
h1 {
    text-align: center;
    }
table.units {
    background-color: #fffbf0;
    margin: 0px;
    border: none;
    padding: 0px;
    border-spacing: 0px;
    width: auto;
    }
div.header {
    background:#444444 url("headerbg.jpg") repeat-x scroll center top;
    border-bottom:1px solid #000000;
    margin:0pt;
    padding:0pt;
    width:100%;
    text-align: center;
}
div.topnav {
    background:#272727 url("navbg.png") repeat-x scroll center bottom;
    border-top:1px solid #595959;
    margin:0pt;
    padding:3px 4px 15px;
    text-align:center;
}
div.topnav a {
    color:#B48648;
    font-family:"Trebuchet MS",sans-serif;
    line-height:0.8em;
    font-size:0.8em;
    font-weight:bold;
    text-decoration:none;
}
div.topnav a:hover {
    color:#CCCCCC;
}
img {
    border: none;
}
div.header img {
    vertical-align:middle;
}
div.pic {
    margin: 0px;
    padding: 0px;
    border: none;
    display: inline;
    float: left;
    }
td.unitcell {
    font-size: small;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #cfcbc0;
    border-top: 2px solid #fffbf0;
    border-right: 2px solid #fffbf0;
    }
td.unitcell a {
    color: black;
    font-size: normal;
    text-decoration: none;
}
table.navbar {
    margin: 0px;
    float: left;
    width: 0px;
    border-spacing: 0px;
    padding: 2px;
    border-right: 1px solid black;
}
table.navbar th {
    color: black;
    font-weight: bold;
}
table.navbar a {
    color: #B48648;
    font-size: small;
    font-weight: bold;
}
td.raceheader {
    background:#272727 url("navbg.png") repeat-x scroll center bottom;
    border-top:1px solid #595959;
    margin:0pt;
    padding:1px 1px 10px 1px;
    text-align:center;
    color: #B48648;
    font-size: x-large;
    font-weight: bold;
    }
tr.levels th {
    border-bottom: 1px solid #cfcbc0;
}
table.unitinfo {
    background-color: #efebd0;
    margin: 2px;
    border: 1px solid black;
    float: left;
}
table.unitinfo th {
    text-align: left;
}
td.grayed {
    color: gray;
}
td.empty {
    background-color: #fffbf0;
    }
col.col0 {
    background-color: #efebe0;
    width: 16%;
}
col.col1 {
    background-color: #f7ebd8;
    width: 16%;
}
col.col2 {
    background-color: #f4ebdc;
    width: 16%;
}
col.col3 {
    background-color: #efebe0;
    width: 16%;
}
col.col4 {
    background-color: #f4ebdc;
    width: 16%;
}
col.col5 {
    background-color: #f7ebd8;
    width: 16%;
}
div.l {
    color: gray;
    font-weight: normal;
    font-size: small;
    border: 1px solid;
    float: right;
    margin: 0px;
    }
div.i {
    padding: 4px;
    font-weight: normal;
    font-size: small;
    border: 1px solid white;
    float: left;
    margin: 0px;
    }
div.i a {
    color: #8080ff;
    text-decoration: underline;
}
div.attributes {
    font-size: small;
    font-weight: normal;
    text-align: left;
    }
div#footer {
    clear: both;
    font-size: x-small;
    border-top: 1px solid black;
    padding: 1em;
    }
