/* Stylesheet for wmlunits HTML output. */

body {
    background-color: #efebe0;
    margin: 0px;
    }
h1 {
    text-align: center;
    margin: 0 0 0.5em 0;
    }
table.units {
    background-color: #fffbf0;
    margin: 0px;
    border: none;
    padding: 0px;
    border-spacing: 0px;
    width: auto;
    }
div.header {
    background:#444444 url("headerbg.jpg") repeat-x scroll center top;
    border-bottom:1px solid #000000;
    margin:0pt;
    padding:0pt;
    width:100%;
    text-align: center;
}
div.topnav {
    background:#272727 url("navbg.png") repeat-x scroll center bottom;
    border-top:1px solid #595959;
    margin:0;
    padding:3px 4px 15px;
    text-align:center;
}
div.topnav a {
    color:#B48648;
    font-family:"Trebuchet MS",sans-serif;
    line-height:0.8em;
    font-size:0.8em;
    font-weight:bold;
    text-decoration:none;
}
div.topnav a:hover {
    color:#CCCCCC;
}
img {
    border: none;
}
div.header img {
    vertical-align:middle;
}
div.pic {
    margin: 0px;
    padding: 0px;
    border: none;
    display: inline;
    float: left;
    }
td.unitcell {
    font-size: small;
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #cfcbc0;
    border-top: 2px solid #fffbf0;
    border-right: 2px solid #fffbf0;
    }
td.unitcell a {
    color: black;
    font-size: medium;
    text-decoration: none;
}
div.main {
    margin-top: 0;
    margin-left: 9em;
    border-left: 1px solid black;
}
div.popupmenu
{
    position: absolute;
    margin-left: 8.5em;
    margin-top: -1em;
    background: white;
    border: 1px solid black;
    padding: 8px;
}
div.popupmenu > div
{
    color: gray;
    font-size: large;
    border-bottom: 1px solid #000000;
    margin-bottom: 0.5em;
}
div.popupmenu a {
    text-decoration: none;
}
a.unitmenu {
    display: block;
    margin-left: 1em;
    font-size: small;
}
.popuptrigger div.popupmenu
{
    display: none;
}
.popuptrigger:hover div.popupmenu
{
   display: block;
}
div.navbar {
    width: 9em;
    float: left;
    overflow: hidden;
}
ul.navbar {
    list-style: none;
    margin: 0 0 0 0.5em;
    border-spacing: 0px;
    padding: 0px;
    border-right: 1px solid black;
    width: 8.5em;
}
ul.navbar li {
    color: black;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}
ul.navbar li a:hover {
    color: #804000;
}
ul.navbar a {
    color: #B48648;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
ul.navbar a.unitmenu {
    font-size: medium;
}
ul.navbar div.popupmenu a {
    font-size: medium;
}
td.raceheader {
    background:#272727 url("navbg.png") repeat-x scroll center bottom;
    border-top:1px solid #595959;
    margin:0pt;
    padding:1px 1px 10px 1px;
    text-align:center;
    color: #B48648;
    font-size: x-large;
    font-weight: bold;
    }
tr.levels th {
    border-bottom: 1px solid #cfcbc0;
}
table.unitinfo {
    background-color: transparent;
    border: none;
}
table.unitinfo th {
    text-align: left;
    font-weight: normal;
    white-space: nowrap;
}
table.attacks col.col1 {
    width: 7em;
}
table.resistances col.col1 {
    width: 5em;
}
table.resistances col.col5 {
    width: 5em;
}
table.resistances col.col3 {
    width: 4em;
}
table.resistances img {
    height: 36px;
}
table.terrain img {
    height: 36px;
}
table.terrain th.numheader {
    text-align: right;
}
td.grayed {
    color: gray;
}
td.empty {
    background-color: #fffbf0;
    }
table.units col.col0 {
    background-color: #efebe0;
    width: 16%;
}
table.units col.col1 {
    background-color: #f7ebd8;
    width: 16%;
}
table.units col.col2 {
    background-color: #f4ebdc;
    width: 16%;
}
table.units col.col3 {
    background-color: #efebe0;
    width: 16%;
}
table.units col.col4 {
    background-color: #f4ebdc;
    width: 16%;
}
table.units col.col5 {
    background-color: #f7ebd8;
    width: 16%;
}
div.l {
    color: gray;
    font-weight: normal;
    font-size: small;
    border: 1px solid;
    float: right;
    margin: 0px;
    }
div.i {
    padding: 4px;
    font-size: small;
    border: 1px solid white;
    float: left;
    margin: 0px;
    }
div.i a {
    font-weight: 900;
    color: #8080ff;
    text-decoration: underline;
}
div.attributes {
    font-size: small;
    font-weight: normal;
    text-align: left;
    }
div#footer {
    clear: both;
    color: #111111;
    font-size: small;
    border-top: 1px solid #999999;;
    padding: 1em;
    margin: 1em;
    }
div#footer p {
    line-height: 1em;
    padding: 0;
    margin: 0;
}
div#footer a {
    color: #111111;
}

td.num {
    text-align: right;
}

td.val {
    font-weight: bold;
}

div.unit-columns {
    width: 51em;
    float: left;
    margin: 0 0 0 1em;
}

div.unit-columns i {
    font-size: 140%;
    font-style: normal;
}

div.unit-columns h1 {
    text-shadow: 2px 2px 3px #998877;
    text-align: left;
}

div.unit-columns h2 {
    border-bottom: 1px solid #000000;
}

div.unit-columns h2 > small {
    font-weight: normal;
    font-size: medium;
}

div.unit-column-left {
    width: 30em;
    float: left;
}

div.unit-column-right {
    margin: 0 0 0 1em;
    width: 20em;
    float: right;
}

table.overview {
    margin: 1em;
    border-spacing: 0px;
    border: 1px solid #000000;
}

table.overview th {
    text-align: center;
    padding: 1em;
    border-bottom: 2px solid #000000;
}

table.overview td {
    border-bottom: 1px solid #000000;
}

table.overview td + td {
    text-align: right;
}

table.overview a.error {
    color: red;
}

div.overview {
    margin: 0 auto;
    background-color: #E7D9C0;
    max-width: 66em;
    width: auto;
    border-radius: 1em 1em 1em 1em;
    border: solid 1px white;
}
