body {
    background-color: #fffbf0;
    }
table {
    width: 100%;
    border: none;
    }
table.frmale {
    margin: 0px;
    padding: 0px;
    border: none;
    }
td {
    border: none;
    }
td.unitcell {
    text-align: center;
    font-weight: bold;
    border-bottom: 2px solid #cfcbc0;
    }
div#navbar a {
    color: black;
    font-size: small;
    font-weight: bold;
}
td.raceheader {
    background-color: black;
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    }
tr.levels th {
    border-bottom: 1px solid #cfcbc0;
}
td.empty {
    background-color: #fffbf0;
    }
col.col0 {
    background-color: #efebe0;
    width: 16%;
}
col.col1 {
    background-color: #f7ebd8;
    width: 16%;
}
col.col2 {
    background-color: #f4ebdc;
    width: 16%;
}
col.col3 {
    background-color: #efebe0;
    width: 16%;
}
col.col4 {
    background-color: #f4ebdc;
    width: 16%;
}
col.col5 {
    background-color: #f7ebd8;
    width: 16%;
}
td.unitcell img {
    float: left;
    }
div.l {
    color: gray;
    font-weight: normal;
    font-size: xx-small;
    border: 1px solid;
    float: right;
    margin: 0px;
    }
div.attributes {
    font-size: small;
    font-weight: normal;
    text-align: left;
    }
