body {
   background-color: #999;
   font-family: Verdana, Helvetica, sans-serif;
}

td {
   font-size: 12px;
   text-align: center;
   padding: 5px;
}

tr.first {
   text-align: center;
   font-weight: bold;
   font-size: medium;
}

td.race {
   padding-top: 12px;
   text-align: center;
   font-weight: bstand;
   color: #DDD;
   background-color: #4b4437;
   font-size: 24px;
}

td.yes {
   color: #DDD;
   background-color: navy;
}

a {
   color: #218;
   font-size: 16px;
}

a:visited {
   color: #537;
}

a:hover {
   color: #05A;
}
