html {
	background: #555555 url('../images/pagebg.png') top left repeat-x;
	text-align: center;
	margin: 0;
	padding: 0;
}

body {
	text-align: left;
	width: 960px;
	margin: 0 auto;
	padding: 0;
	font-size: 12px;
	font-family:"Lucida Grande","Lucida Sans Unicode",geneva,verdana,sans-serif;
}

a {
	color: #286571;
}

#header {
	height: 132px;
	margin: 10px 10px 0 10px;
	background: url('../images/headerbg.png') top left no-repeat;
}

#header h1 {
	padding: 0;
	margin: 0;
	padding-top: 30px;
	padding-left: 180px;
	color: #fff;
	position: relative;
	font-size: 36px;
}

#header h1 .subtitle {
	font-size: 60%;
	position: absolute;
	left: 240px;
	top: 70px;
}

ul#mainmenu {
	margin: 0;
	padding: 0 10px;
	background: url('../images/menubg.png') top left no-repeat;
	height: 38px;
}

ul#mainmenu li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: inline;
	float: left;
}

ul#mainmenu li a {
	color: #fff;
	float: left;
	height: 31px;
	display: block;
	line-height: 30px;
	vertical-align: middle;
	padding: 0 10px;
	font-size: 12px;
	text-decoration: none;
	background: url('../images/menu-item-border.png') left top no-repeat;
}

ul#mainmenu li a:hover, ul#mainmenu li a.active {
	background: url('../images/menu-item-actibg.png') left top no-repeat;
}

ul#mainmenu li.first a {
	background: none;
}

ul#mainmenu li.first a:hover, ul#mainmenu li.first a.active {
	background: url('../images/menu-item-actibg-first.png') left top no-repeat;
}

ul#mainmenu li.loginlogout
{
    float: right;
    right: 10px;
}

ul#mainmenu li.loginlogout a:hover
{
    background: url('../images/menu-item-border.png') left top no-repeat;
}

#content {
	background: #fff url('../images/contentbg.png') left bottom no-repeat;
	margin : 0 10px 10px 10px;
	padding: 0 10px;
	overflow: hidden;
}

#content .currentpage {
	margin-top: 0;
}

/* Login form*/

#loginform
{
    text-align: center;
}

form.loginfields
{
    text-align: left;
    width: 270px;
    background: url('../images/loginbg.png') top left no-repeat;
    padding: 0;
    margin: 0 auto;
    border: 0;
}

form.loginfields h2
{
    font-size: 16px;
    float: left;
    padding: 0;
    margin: 5px;
    margin-top: 0;
    background: url('../images/loginheader-left.png') top left no-repeat;
}

* html form.loginfields h2
{
    margin-left: 3px;
    width: 80px;
    text-align: center;
}

form.loginfields h2 span
{
    background: url('../images/loginheader-right.png') right top no-repeat;
    height: 30px;
    line-height: 30px;
    display: block;
    font-size: 100%;
    font-weight: normal;
    color: #fff;
    padding: 0 10px;
}

*+html form.loginfields h2 span
{
    padding: 0 20px;
}

form.loginfields label
{
    clear: left;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    width: 65px;
    line-height: 31px;
    vertical-align: middle;
}

form.loginfields input.text
{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 165px;
    height: 21px;
    padding: 5px;
    border: 0;
    background: url('../images/inputbg.png') top left no-repeat;
    color: #fff;
}

form.loginfields input#submit
{
    background: url('../images/loginbottombg.png') bottom left no-repeat;
    width: 270px;
    height: 61px;
    border: 0;
    margin-top: 10px;
    color: #fff;
    padding: 10px 140px 20px 10px;
}

* html form.loginfields input#submit
{
    clear: both;
    margin-left: -10px;
}

/* Sidebar */
.sidebar {
  border: 1px solid #cce;
  background-color: #eee;
  margin: 0.5em;
  margin-left: 1.5em;
  padding: 1em;
  float: right;
  width: 200px;
  font-size: 88%;
}

.sidebar h2 {
  margin-top: 0;
  color: black;
}

.sidebar ul {
  margin-left: 1.5em;
  padding-left: 0;
}



#sb_top {
  clear: right;
}

#sb_bottom {
  clear: right;
}

#getting_started {
  margin-left: 20px;
}

#getting_started_steps a {
  text-decoration: none;
}

#getting_started_steps a:hover {
  text-decoration: underline;
}

#getting_started_steps li {
  margin-bottom: 0.5em;
}

/* Other and footer */
#footer {
	background: #fff;
	padding: 10px;
	color:#888888;
	font-size:90%;
}
.flogo {
	float:left;
	margin-bottom:0px;
	padding-left:20px;
	padding-right:20px;
	padding-top:0px;
}
.foottext p {
	margin: 0; padding: 0;
}
.code {
font-family:monospace;
font-size:127%;
}
span.code {
background:#EEEEEE none repeat scroll 0% 0%;
font-weight:bold;
}
#flash, .notice {
font-size:120%;
font-weight:bolder;
margin:0pt auto 0.5em;
width:680px;
}
#flash div, .notice {
padding:20px 15px 20px 65px;
}
#flash .ok {
background:#d8ecd8 url(../images/ok.png) no-repeat scroll 10px center;
}
#flash .warning {
background:#fff483 url(../images/warning.png) no-repeat scroll 10px center;
}
#flash .error {
background:#f9c5c1 url(../images/error.png) no-repeat scroll 10px center;
}
#flash .alert,
#flash .info {
background:#EEEEFF url(../images/info.png) no-repeat scroll 10px center;
}
.notice {
background:#EEEEFF url(../images/info.png) no-repeat scroll 10px center;
}
.fielderror {
color:red;
font-weight:bold;
}
div.clearingdiv {
clear:both;
}
