Options +FollowSymLinks

<IfModule mod_rewrite.c>
  RewriteEngine On
  
  # Uncomment this line if you are running Galdrad in a subdirectory
  RewriteBase /start/1.0/
  
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  RewriteRule ^static/([0-9]*) index.php?module=Static&action=show&id=$1 [L]
  RewriteRule ^([a-z][a-z])/static/([0-9]*) index.php?lang=$1&module=Static&action=show&id=$2 [L]
  
  RewriteRule ^([a-z][a-z])/?$ index.php?lang=$1 [L]
  #RewriteRule ^admin index.php?module=Default&action=admin [L]
</IfModule>
