<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="Wesnoth_Eclipse_Plugin.projectBuilder"
         name="Wesnoth Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run
               class="wesnoth_eclipse_plugin.builder.WesnothProjectBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="Wesnoth_Eclipse_Plugin.wesnothNature"
         name="Wesnoth Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="wesnoth_eclipse_plugin.builder.WesnothProjectNature">
         </run>
      </runtime>
      <builder
            id="Wesnoth_Eclipse_Plugin.projectBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="plugin.projectContributions">
         <action
               class="wesnoth_eclipse_plugin.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/wesnoth-icon_16.png"
               id="action.proj.addRemoveNature"
               label="Add/Remove Sample Nature"
               menubarPath="_wesnoth">
         </action>
         <action
               class="wesnoth_eclipse_plugin.action.WesnothProjectReport"
               icon="icons/wesnoth-icon_16.png"
               id="action.proj.report"
               label="Wesnoth project report"
               menubarPath="_wesnoth">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="plugin.mapContributions"
            nameFilter="*maps*"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="wesnoth_eclipse_plugin.action.ImportMap"
               enablesFor="1"
               icon="icons/wesnoth_editor-icon_16.png"
               id="action.maps.importmap"
               label="Import map"
               menubarPath="_wesnoth">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="plugin.mapFilesContributions"
            nameFilter="*.map"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="wesnoth_eclipse_plugin.action.OpenMapInEditor"
               enablesFor="1"
               icon="icons/wesnoth_editor-icon_16.png"
               id="action.map.openMapInEditor"
               label="Open map in editor"
               menubarPath="_wesnoth">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="plugin.configFilesContributions"
            nameFilter="*.cfg"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="wesnoth_eclipse_plugin.action.OpenScenarioInGame"
               enablesFor="1"
               icon="icons/wesnoth-icon_16.png"
               id="action.cfg.openScenarioInGame"
               label="Open scenario in game"
               menubarPath="_wesnoth">
         </action>
         <menu
               icon="icons/wesnoth-icon_16.png"
               id="plugin.preprocessorMenu"
               label="Preprocessor"
               path="_wesnoth">
            <groupMarker
                  name="preprocessorMenuMarker">
            </groupMarker>
         </menu>
         <action
               class="wesnoth_eclipse_plugin.action.ShowPreprocessedConfig"
               id="action.cfg.preprocessedConfig"
               label="Show preprocessed file"
               menubarPath="plugin.preprocessorMenu/preprocessorMenuMarker">
         </action>
         <action
               class="wesnoth_eclipse_plugin.action.ShowPlainPreprocessedConfig"
               id="action.cfg.plainPreprocessedconfig"
               label="Show plain preprocessed file"
               menubarPath="plugin.preprocessorMenu/preprocessorMenuMarker">
         </action>
         <menu
               icon="icons/wesnoth-icon_16.png"
               id="plugin.wmltoolsCfgMenu"
               label="WML Tools"
               path="_wesnoth">
            <groupMarker
                  name="wmltoolsCfgMenuMarker">
            </groupMarker>
         </menu>
         <action
               class="wesnoth_eclipse_plugin.action.RunWMLLintOnSelection"
               id="action.cfg.wmllintOnFile"
               label="Run &quot;wmllint&quot; on this file"
               menubarPath="plugin.wmltoolsCfgMenu/wmltoolsCfgMenuMarker">
         </action>
         <!--
         <action
               class="wesnoth_eclipse_plugin.action.RunWMLLintOnPreprocFile"
               id="action.cfg.wmllintOnPreprocFile"
               label="Run &quot;wmllint&quot; on preprocessed file"
               menubarPath="plugin.wmltoolsCfgMenu/wmltoolsCfgMenuMarker">
         </action>
         -->
         <action
               class="wesnoth_eclipse_plugin.action.RunWMLScopeOnSelection"
               id="action.cfg.wmlscope"
               label="Run &quot;wmlscope&quot; on this file"
               menubarPath="plugin.wmltoolsCfgMenu/wmltoolsCfgMenuMarker">
         </action>
         <action
               class="wesnoth_eclipse_plugin.action.RunWMLIndentOnSelection"
               id="action.cfg.wmlindent"
               label="Run &quot;wmlindent&quot; on this file"
               menubarPath="plugin.wmltoolsCfgMenu/wmltoolsCfgMenuMarker">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="plugin.containerContributions"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IContainer">
         <action
               class="wesnoth_eclipse_plugin.action.UploadAddon"
               icon="icons/wesnoth-icon_16.png"
               id="action.container.addonUpload"
               label="Upload Add-on"
               menubarPath="_wesnoth">
         </action>
         <action
               class="wesnoth_eclipse_plugin.action.OpenCampaignInGame"
               icon="icons/wesnoth-icon_16.png"
               id="action.container.startCampaign"
               label="Open campaign in game"
               menubarPath="_wesnoth">
         </action>
         <menu
               icon="icons/wesnoth-icon_16.png"
               id="plugin.wmltoolsContainerMenu"
               label="WML Tools"
               path="_wesnoth">
            <groupMarker
                  name="wmltoolsContainerMenuMarker">
            </groupMarker>
         </menu>
         <action
               class="wesnoth_eclipse_plugin.action.RunWMLScopeOnSelection"
               id="action.container.wmlscope"
               label="Run &quot;wmlscope&quot; on the container"
               menubarPath="plugin.wmltoolsContainerMenu/wmltoolsContainerMenuMarker">
         </action>
         <action
               class="wesnoth_eclipse_plugin.action.RunWMLIndentOnSelection"
               id="action.container.wmlindent"
               label="Run &quot;wmlindent&quot; on the container"
               menubarPath="plugin.wmltoolsContainerMenu/wmltoolsContainerMenuMarker">
         </action>
         <action
               class="wesnoth_eclipse_plugin.action.RunWMLLintOnSelection"
               id="action.container.wmllintOnFile"
               label="Run &quot;wmllint&quot; on the container"
               menubarPath="plugin.wmltoolsContainerMenu/wmltoolsContainerMenuMarker">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="Wesnoth_Eclipse_Plugin.help"
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocfeatures.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.views">
       <!-- 
      <category
            name="Sample Category"
            id="Wesnoth_Eclipse_Plugin">
      </category>
      <view
            name="Wesnoth View"
            icon="icons/wesnoth-icon_16.png"
            category="Wesnoth_Eclipse_Plugin"
            class="wesnoth_eclipse_plugin.views.SampleView"
            id="wesnoth_eclipse_plugin.views.SampleView">
      </view>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
         <!--
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="wesnoth_eclipse_plugin.views.SampleView">
         </view>
      </perspectiveExtension>
      -->
   </extension>
   <extension
         id="Wesnoth_Eclipse_Plugin.contexts"
         point="org.eclipse.help.contexts">
      <contexts
            file="contextHelp.xml"
            plugin="Wesnoth_Eclipse_Plugin">
      </contexts>
   </extension>

   <extension
       point="org.eclipse.ui.newWizards">
       <category name="Wesnoth"
             id="wesnoth.eclipse.newWizards">
       </category>
       <wizard
             category="wesnoth.eclipse.newWizards"
             class="wesnoth_eclipse_plugin.wizards.emptyproject.EmptyProjectNewWizard"
             icon="icons/wesnoth-icon_16.png"
             id="wesnoth_eclipse_plugin.wizard.emptyProjectWizard"
             name="Empty project"
             project="true">
          <description>
             Creates a new empty project
          </description>
       </wizard>
       <wizard
             category="wesnoth.eclipse.newWizards"
             class="wesnoth_eclipse_plugin.wizards.campaign.CampaignNewWizard"
             icon="icons/wesnoth-icon_16.png"
             id="wesnoth_eclipse_plugin.wizards.CampaignNewWizard"
             name="Wesnoth Campaign"
             project="true">
           <description>Create a Wesnoth campaign.</description>
       </wizard>
       
       <wizard name="Wesnoth Scenario"
           icon="icons/wesnoth-icon_16.png"
		   category="wesnoth.eclipse.newWizards"
           class="wesnoth_eclipse_plugin.wizards.scenario.ScenarioNewWizard"
           id="wesnoth_eclipse_plugin.wizards.ScenarioNewWizard"
           project="false">
           <description>Create a Wesnoth single player or multiplayer scenario.</description>
       </wizard>
       <wizard
             category="wesnoth.eclipse.newWizards"
             class="wesnoth_eclipse_plugin.wizards.era.EraNewWizard"
             icon="icons/wesnoth-icon_16.png"
             id="wesnoth_eclipse_plugin.wizards.eraNewWizard"
             name="Wesnoth Era"
             project="false">
          <description>
             Create a new wesnoth era.
          </description>
       </wizard>
       <wizard
             category="wesnoth.eclipse.newWizards"
             class="wesnoth_eclipse_plugin.wizards.faction.FactionNewWizard"
             icon="icons/wesnoth-icon_16.png"
             id="wesnoth_eclipse_plugin.wizard.factionNewWizard"
             name="Wesnoth Faction"
             project="false">
          <description>
             Create a new Wesnoth faction.
          </description>
       </wizard>
       <!--
       <wizard
             category="wesnoth.eclipse.newWizards"
             class="wesnoth_eclipse_plugin.wizards.unit.UnitsNewWizard"
             icon="icons/wesnoth-icon_16.png"
             id="wesnoth_eclipse_plugin.wizard.unitNewWizard"
             name="Wesnoth Unit"
             project="false">
          <description>
             Creates a new unit
          </description>
       </wizard> 
       -->
       <wizard
             category="wesnoth.eclipse.newWizards"
             class="wesnoth_eclipse_plugin.wizards.generator.WizardLauncher"
             icon="icons/wesnoth-icon_16.png"
             id="wesnoth_eclipse_plugin.wizard.wizardLauncher"
             name="Wizard Launcher"
             project="false">
          <description>
             Launches the wizard based on the selected tag.
          </description>
       </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Wesnoth_Eclipse_Plugin.commands.category"
            name="Wesnoth">
      </category>
      <command
            defaultHandler="wesnoth_eclipse_plugin.handlers.OpenEditorHandler"
            description="Opens the wesnoth editor"
            id="Wesnoth_Eclipse_Plugin.commands.openEditor"
            name="openeditor">
      </command>
      <command
            defaultHandler="wesnoth_eclipse_plugin.handlers.ImportMapHandler"
            description="Import an existing map into the current maps folder"
            id="Wesnoth_Eclipse_Plugin.commands.importMap"
            name="importMap">
      </command>
      <command
            defaultHandler="wesnoth_eclipse_plugin.handlers.OpenGameHandler"
            description="Opens the game"
            id="Wesnoth_Eclipse_Plugin.commands.openGame"
            name="openGame">
      </command>
      <command
            defaultHandler="wesnoth_eclipse_plugin.handlers.OpenMapInEditorHandler"
            description="Opens the selected map in the map editor"
            id="Wesnoth_Eclipse_Plugin.commands.openMapInEditor"
            name="openMapInEditor">
      </command>
      <command
            defaultHandler="wesnoth_eclipse_plugin.handlers.SetupWorkspaceHandler"
            description="Setups the workspace"
            id="Wesnoth_Eclipse_Plugin.commands.setupWorkspace"
            name="setupWorkspace">
      </command>
      <command
            defaultHandler="wesnoth_eclipse_plugin.handlers.ReloadFilesHandler"
            description="Reloads all plugin related files"
            id="Wesnoth_Eclipse_Plugin.commands.reloadFiles"
            name="reloadFiles">
      </command>
      <command
            defaultHandler="wesnoth_eclipse_plugin.handlers.TestHandler"
            id="Wesnoth_Eclipse_Plugin.commands.test"
            name="test command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/wesnoth-icon_16.png"
               id="Wesnoth_Eclipse_Plugin.menus.wesnothMenu"
               label="Wesnoth"
               mnemonic="s">
            <command
                  commandId="Wesnoth_Eclipse_Plugin.commands.openEditor"
                  icon="icons/wesnoth_editor-icon_16.png"
                  id="Wesnoth_Eclipse_Plugin.menus.openEditor"
                  label="Open editor"
                  mnemonic="e">
            </command>
            <command
                  commandId="Wesnoth_Eclipse_Plugin.commands.openGame"
                  icon="icons/wesnoth-icon_16.png"
                  id="Wesnoth_Eclipse_Plugin.menus.openGame"
                  label="Open game"
                  mnemonic="g">
            </command>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
            <command
                  commandId="Wesnoth_Eclipse_Plugin.commands.importMap"
                  icon="icons/wesnoth_editor-icon_16.png"
                  label="Import Map">
            </command>
            <command
                  commandId="Wesnoth_Eclipse_Plugin.commands.openMapInEditor"
                  icon="icons/wesnoth_editor-icon_16.png"
                  label="Open map with editor"
                  style="push">
            </command>
            <separator
                  name="separator2"
                  visible="true">
            </separator>
            <command
                  commandId="Wesnoth_Eclipse_Plugin.commands.setupWorkspace"
                  label="Setup Workspace"
                  style="push">
            </command>
            <command
                  commandId="Wesnoth_Eclipse_Plugin.commands.reloadFiles"
                  label="Reload cache"
                  style="push">
            </command>
            <command
                  commandId="org.eclipse.ui.window.preferences"
                  label="Open plugin&apos;s preferences"
                  style="push">
               <parameter
                     name="preferencePageId"
                     value="wml_plugin_preferences">
               </parameter>
            </command>
            <separator
                  name="separator3"
                  visible="true">
            </separator>
            <command
                  commandId="Wesnoth_Eclipse_Plugin.commands.test"
                  label="Test (FOR DEBUG ONLY!!)"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="wesnoth_eclipse_plugin.preferences.WesnothEditorPreferencesPage"
            id="wml_plugin_preferences"
            name="Wesnoth UMC">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="wesnoth_eclipse_plugin.preferences.Preferences">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            default="true"
            extensions="map"
            icon="icons/wesnoth_editor-icon_16.png"
            id="Wesnoth_Eclipse_Plugin.mapFileEditor"
            launcher="wesnoth_eclipse_plugin.editors.MapFileEditor"
            name="Map files editor">
      </editor>
      <editor
            default="false"
            id="Wesnoth Eclipse Plugin.editor2"
            name="name">
      </editor>
   </extension>

</plugin>
