<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="sampleBuilder"
         name="Sample Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="wesnoth_eclipse_plugin.builder.SampleBuilder"/>
      </builder>
   </extension>
   <extension
         id="sampleNature"
         name="Sample Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="wesnoth_eclipse_plugin.builder.SampleNature">
         </run>
      </runtime>
      <builder
            id="Wesnoth_Eclipse_Plugin.sampleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="Wesnoth_Eclipse_Plugin.projectContributions">
         <action
               class="wesnoth_eclipse_plugin.builder.ToggleNatureAction"
               enablesFor="+"
               icon="icons/wesnoth-icon.png"
               id="actions.addRemoveNature"
               label="Add/Remove Sample Nature"
               menubarPath="additions">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="Wesnoth Eclipse Plugin.mapContributions"
            nameFilter="*maps*"
            objectClass="org.eclipse.core.resources.IFolder">
         <action
               class="wesnoth_eclipse_plugin.action.ImportMap"
               enablesFor="1"
               icon="icons/wesnoth_editor-icon.png"
               id="actions.importmap"
               label="Import map"
               menubarPath="additions">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml">
      </toc>
      <toc
            file="testToc.xml"
            primary="true">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="Wesnoth_Eclipse_Plugin">
      </category>
      <view
            name="Wesnoth View"
            icon="icons/sample.gif"
            category="Wesnoth_Eclipse_Plugin"
            class="wesnoth_eclipse_plugin.views.SampleView"
            id="wesnoth_eclipse_plugin.views.SampleView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="wesnoth_eclipse_plugin.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

   <extension 
       point="org.eclipse.ui.newWizards">
       <category name="Wesnoth"
             id="wesnoth.eclipse.newWizards">
       </category>
       <wizard name="Wesnoth Campaign"
           icon="icons/sample.gif"
		   category="wesnoth.eclipse.newWizards"
           class="wesnoth_eclipse_plugin.wizards.CampaignNewWizard"
           id="wesnoth_eclipse_plugin.wizards.CampaignNewWizard"
           project="true">           
           <description>Create a Wesnoth campaign.</description>
       </wizard>
  <!-- </extension> -->

 <!-- <extension 
       point="org.eclipse.ui.newWizards">
       <category name="Wesnoth"
             id="wesnoth.eclipse.newWizards"> 
       </category> -->
       <wizard name="Wesnoth Scenario"
           icon="icons/sample.gif"
		   category="wesnoth.eclipse.newWizards"
           class="wesnoth_eclipse_plugin.wizards.ScenarioNewWizard"
           id="wesnoth_eclipse_plugin.wizards.ScenarioNewWizard"
           project="false">           
           <description>Create a Wesnoth campaign.</description>
       </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="Wesnoth_Eclipse_Plugin.commands.category"
            name="Wesnoth">
      </category>
      <command
            defaultHandler="wesnoth_eclipse_plugin.handlers.OpenEditorHandler"
            description="Opens the wesnoth editor"
            id="Wesnoth_Eclipse_Plugin.commands.openEditor"
            name="openeditor">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               icon="icons/wesnoth-icon_16.png"
               id="Wesnoth_Eclipse_Plugin.menus.wesnothMenu"
               label="Wesnoth"
               mnemonic="h">
            <command
                  commandId="Wesnoth_Eclipse_Plugin.commands.openEditor"
                  icon="icons/wesnoth_editor-icon_16.png"
                  id="Wesnoth_Eclipse_Plugin.menus.openEditor"
                  label="Open editor"
                  mnemonic="e">
            </command>
            <separator
                  name="separator1"
                  visible="true">
            </separator>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="wesnoth_eclipse_plugin.preferences.WesnothEditorPreferences"
            id="wesnoth_eclipse_plugin.preferences.WesnothEditorPreferences"
            name="Wesnoth UMC Plugin">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="wesnoth_eclipse_plugin.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
