@import url(http://www.wesnoth.org/mw/skins/glamdrol/main.css);

#header {
  background: url(http://www.wesnoth.org/mw/skins/glamdrol/headerbg_large.jpg) top repeat-x;
}

h1 {
  font-size: 195%;
}

h2 {
  margin-bottom: 0.6em;
  font-size: 165%;
}

h3 {
  margin-bottom: 0.6em;
  color: #111;
  font-size: 150%;
}

dt {
  color: #444;
}

hr {
  background-color: #666;
}

#languages {
  margin: 0;
  padding: 0;
  text-align: left;
}

#languages p {
  margin: 0;
}

#languages ul {
  margin: 0 0 1em 0;
  padding: 0;
  list-style: none;
}

#languages li {
  display: inline;
  margin: 0;
  padding: 0 6px 0 0;
  list-style: none;
}
