#global {
  width: 100%;
  margin: 0;
  padding: 0;
  font: 0.95em;
}

ul {
  line-height: 1.6em;
}

#header {
  margin: 0;
  padding: 0;
  background: #444 url('http://pulsar.unizar.es/~isaac/wesnoth-gettext/westats/images/headerbg.jpg') top repeat-x;
  border-bottom: 1px solid #000;
}

#header #logo {
  margin: 0;
  padding: 0;
  text-align: center;
}

#header #logo img {
  margin: 0;
  padding: 0;
  border: none;
}

#header #logo a {
  margin: 0;
  padding: 0;
  color: #654;
  text-decoration: none;
  font-size: 0.8em;
}

#nav {
  margin: 0;
  padding: 3px 4px 15px 4px;
  background: #272727 url('http://pulsar.unizar.es/~isaac/wesnoth-gettext/westats/images/navbg.png') repeat-x bottom;
  text-align: center;
  border-top: 1px solid #595959;
  font-size: 0.95em;
}

#nav ul, #nav li {
  display: inline;
  margin: 0;
  padding: 0;
}

#nav li {
  padding: 0 5px;
}

#nav a {
  color: #A74;
  font-family: "Trebuchet MS", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

#nav a:hover {
  color: #CCC;
}
