body {
	margin: 0;
	padding: 0;
	background: #FFFBF0;
	color: #111;
	font: 0.88em sans-serif;
}

p {
  margin: 0 0 1em 0;
}

table.main {
	background: #8b898b;
}

table.title {
	background: #ececec;
}

tr.row-0 {
	background: #ececec;
}

tr.row-1{
	background: #ccecec;
}

tr.header {
	background: #dddddd;
}

td.title {
	font-weight: bold;
}

td.percentage-0 {
	background: #f5f5f5;
}

td.percentage-1 {
	background: #e0f5f5;
}

td.translated {
	color: #05a505;
	text-align: center;
	font-weight: bold;
}

td.fuzzy {
	color: #0505a5;
	text-align: center;
	font-weight: bold;
}

td.untranslated {
	color: #a50505;
	text-align: center;
}

h4 {
  margin: 1em 0 0 0;
}

a {
  color: #A48736;
}

hr {
  display: none;
}

/**
 * Main
 */
 
#main {
  padding: 0 8% 0 8%;
  color: #333;
  font-size: 0.8em;
  text-align: left;
  line-height: 1.6em;
  /* ie5win damn hack */
  width: 100%;
}

html>body #main {
  width: 84%;
}

/* -------- homepage layout start -------- */

#main #left {
  position: relative;
  float: left;
  width: 49%;
}

#main #right {
  position: relative;
  float: right;
  width: 50%;
}

/* -------- homepage layout end -------- */

#main div.container {
  margin: 15px 3px 15px 3px;
  padding: 15px;
  background: #EEE;
  border: 2px solid #AAA;
  -moz-border-radius: 4px 4px 4px 4px;
}

#main div.new {
  margin: 14px 0 0 0;
}

#main div.new div.new-title {
  font-weight: bold;
}

#main div.new div.new-date {
  font-size: 0.9em;
}

#main div.new p {
  margin: 4px 0 4px 0;
}

#main div.sshots {
  text-align: center;
}
#main #sshots a:hover {
  border: none;
}

#main div.sshots a {
  text-decoration: none;
  font-size: 0.7em;
}

#main img {
  border: none;
  margin: 2px 2px 6px 2px;
  padding: 3px;
  background: #A48736;
}

#main h3 {
  margin: 0;
  padding: 0;
}

#main p {
  margin: 0px 0 1.2em 0;
}

#main code {
  font-size: 1.1em;
}

#main form {
  margin: 0 0 15px 0;
}


/**
 * Footer
 */

#footer {
  clear: both;
  margin: 0;
  padding: 0 8% 0 8%;
  color: #BBB;
  font-size: 0.8em;
  /* ie5win damn hack */
  width: 100%;
}
html>body #footer {
  width: 84%;
}

/**
 * Languages
 */

#languages {
  margin: 0;
  padding: 0;
  float: left;
  text-align: left;
  width: 60%;
}

#languages div.container {
  margin: 0 0 12px 0;
}

#languages h3 {
  margin: 0;
  padding: 0;
  color: #CCC;
  font-size: 1.0em;
  font-weight: normal;
}

#languages ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#languages li {
  display: inline;
  margin: 0;
  padding: 0 5px 0 0;
  list-style: none;
}

/**
 * Footnotes
 */

#footnote {
  margin: 0 0 12px 0;
  padding: 0;
  float: right;
  text-align: right;
  width: 40%;
}
