body {
  margin: 0;
  padding: 0;
  background: #1E1C1B url(http://www.wesnoth.org/images/menu-bg.jpg);
  color: #999;
  font-family: "Trebuchet MS", Arial, "Bitstream Vera Sans", Verdana, Tahoma, sans-serif;
  width: 100%;
}

p {
  margin: 0 0 1em 0;
}

a {
  color: #A48736;
}

hr {
  display: none;
}


/**
 * Main
 */

#main {
  font-size: 0.8em;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  line-height: 1.6em;
}

div h3 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}

div ul {
  margin: 0;
  padding: 0 0 0 10px;
}

#order, #show {
  position: relative;
  margin: 0;
  padding: 0;
}

#order {
  float: right;
  width: 28%;
}

#show {
  float: left;
  width: 72%;
}

#order ul, #show ul {
  list-style: none;
}

#order li, #show li {
  display: inline;
  list-style: none;
  margin-right: 5px;
}

#order div.container, #show div.container {
  margin: 10px 10px 10px 0;
  padding: 6px;
  border: 3px solid #999;
  -moz-border-radius: 5px 5px 5px 5px;
  color: #333;
  background: #E6E6E6;
}

p.clear {
  clear: both;
}


table.statistics {
  color: #333;
  background: #8B898B;
}

th {
  font-weight: bold;
  color: #333;
  background: #BBB;
}

tr.row-0 {
	background: #ECECEC;
}

tr.row-1 {
	background: #E1E1E1;
}

td.percentage-0 {
	background: #F5F5F5;
}

td.percentage-1 {
	background: #F0F0F0;
}

th.translated {
	color: #05A505;
	text-align: center;
	font-weight: bold;
}

th.fuzzy {
	color: #0505A5;
	text-align: center;
	font-weight: bold;
}

th.untranslated {
	color: #A50505;
	text-align: center;
}


/**
 * Footer
 */

#footer img {
  margin-top: 20px;
  border: 0;
}
