<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<html lang="en">
<head>
  <link rel="stylesheet" href="units.css" title="Eleazar">
  <title>Wesnoth unit tree</title>
</head>
<body>
<h1>Wesnoth unit tree</h1>
<p>Choose the version you want to browse:</p>
<p><a href="1.2/index.html">Stable (1.2)</a></p>
<p><a href="1.3/index.html">Development (1.3)</a></p> 
<p><a href="trunk/index.html">Trunk</a></p>
<br>
<p>For all the translation of the unit description and trees, visit:</p>
<p><a href="http://www.xs4all.nl/~roadie/wesnoth_units/1.0/">1.0 Branch</a></p>
<p><a href="http://www.xs4all.nl/~roadie/wesnoth_units/1.2/">1.2 Branch</a></p>
<p><a href="http://zapicm.googlepages.com/home">Tar files</a></p>
<br>
<p>User made eras:</p>
<p><a href="stable/EXE/index.html">Extended Era (0.21.0)</a></p>
<p><a href="stable/EOM/index.html">Era of Myths (Beta 6)</a></p> 
<br>
<p>For an ipod version of the 1.2 version unit list, download:</p>
<p><a href="ipod_folder.zip">Ipod files</a> (161 Kb. zip file)</p>
<br>
<p>Older stable versions:</p>
<p><a href="1_02/index.html">Version 1.0.2</a></p>
<br>
<p>Official game page: <i><a href="http://www.wesnoth.org">Battle for Wesnoth</a></i></p>
</body>
</html>
