<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../units.css" title="Eleazar">
  <title>Wesnoth unit list - Era of Myths - Index</title>
</head>
<body>
<h1>Wesnoth unit list</h1>
<p>Era of Myths</p>
<p>Based on version<!-- --> X.X.X</p>
<p><a href="../index.html">Back to main list</a></p>
<p><a href="tree_race.html">Race</a></p>
<ul>
<li><a href='tree_celestial.html'>Celestials</a>
<li><a href='tree_devling.html'>Devlings</a>
<li><a href='tree_human.html'>Humans</a>
<li><a href='tree_lizard.html'>Lizards</a>
<li><a href='tree_mechanical.html'>Mechanical</a>
<li><a href='tree_monster.html'>Monsters</a>
<li><a href='tree_naga.html'>Nagas</a>
<li><a href='tree_undead.html'>Undead</a>
<li><a href='tree_vampire.html'>Vampires</a>
<li><a href='tree_warg.html'>Wargs</a>
<li><a href='tree_wose.html'>Woses</a>
</ul>
</p>
<p><a href="tree_faction.html">Faction</a></p>
<ul>
<li><a href='tree_celestials-EOM.html'>Celestials</a>
<li><a href='tree_devlings-EOM.html'>Devlings</a>
<li><a href='tree_elementals-EOM.html'>Elementals</a>
<li><a href='tree_therians-EOM.html'>Therians</a>
<li><a href='tree_undead-EOM.html'>Undead</a>
<li><a href='tree_vampires-EOM.html'>Vampires</a>
<li><a href='tree_wargs-EOM.html'>Wargs</a>
</ul>
</p>
<p><a href="data/">Raw data</a></p>
<p><a href="animations.html">List of done animations</a></p>
</body>
</html>
