<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../units.css" title="Eleazar">
  <title>Wesnoth unit list - Index</title>
</head>
<body>
<h1>The Battle for Wesnoth</h1> 
<h2>Unit List</h2>
<p>Based on version<!-- --> X.X.X</p>
<p><a href=af/index.html>Afrikaans</a>&nbsp;
<a href=bg/index.html>Български (Bulgarski)</a>&nbsp;
<a href=ca/index.html>Català</a>&nbsp;
<a href=ca_ES@valencia/index.html>Català - Valencià</a>&nbsp;
<a href=cs/index.html>Čeština</a>&nbsp;
<a href=da/index.html>Dansk</a>&nbsp;
<a href=de/index.html>Deutsch</a>&nbsp;
<a href=el/index.html>Ελληνικά (Ellinika)</a>&nbsp;
<a href=en_GB/index.html>English [GB]</a>&nbsp;
<a href=eo/index.html>Esperanto</a>&nbsp;
<a href=es/index.html>Español</a>&nbsp;
<a href=et/index.html>Eesti</a>&nbsp;
<a href=eu/index.html>Euskera</a>&nbsp;
<a href=fi/index.html>Suomi</a>&nbsp;
<a href=fr/index.html>Français</a>&nbsp;
<a href=gl_ES/index.html>Galego</a>&nbsp;
<a href=he/index.html>עברית (Hebrew)</a>&nbsp;
<a href=hu/index.html>Magyar</a>&nbsp;
<a href=id/index.html>Indonesian</a>&nbsp;
<a href=it/index.html>Italiano</a>&nbsp;
<a href=ja/index.html>日本語 (Nihongo)</a>&nbsp;
<a href=ko/index.html>한국어 (Korean)</a>&nbsp;
<a href=la/index.html>Latina</a>&nbsp;
<a href=lt/index.html>Lietuvių</a>&nbsp;
<a href=nb_NO/index.html>Norsk bokmål</a>&nbsp;
<a href=nl/index.html>Nederlands</a>&nbsp;
<a href=pl/index.html>Polski</a>&nbsp;
<a href=pt/index.html>Português do Brasil</a>&nbsp;
<a href=pt_BR/index.html>Português</a>&nbsp;
<a href=ro/index.html>Românã (Romanian)</a>&nbsp;
<a href=ru/index.html>Русский (Russkij)</a>&nbsp;
<a href=sk/index.html>Slovenčina</a>&nbsp;
<a href=sl/index.html>Slovenščina</a>&nbsp;
<a href=sr/index.html>Српски</a>&nbsp;
<a href=sr_RS@latin/index.html>Srpski (latinica)</a>&nbsp;
<a href=sv/index.html>Svenska</a>&nbsp;
<a href=tl/index.html>Filipino</a>&nbsp;
<a href=tr/index.html>Türkçe</a>&nbsp;
<a href=zh_CN/index.html>中文 (Zhongwen)</a>&nbsp;
</p>
<p><a href="tree_race.html">Race</a></p>
<ul>
<li><a href='tree_bats.html'>race^Bats</a>
<li><a href='tree_drake.html'>race^Drakes</a>
<li><a href='tree_dwarf.html'>race^Dwarves</a>
<li><a href='tree_elf.html'>race^Elves</a>
<li><a href='tree_goblin.html'>race^Goblins</a>
<li><a href='tree_gryphon.html'>race^Gryphons</a>
<li><a href='tree_human.html'>race^Humans</a>
<li><a href='tree_lizard.html'>race^Lizards</a>
<li><a href='tree_mechanical.html'>race^Mechanical</a>
<li><a href='tree_merman.html'>race^Mermen</a>
<li><a href='tree_monster.html'>race^Monsters</a>
<li><a href='tree_naga.html'>race^Nagas</a>
<li><a href='tree_ogre.html'>race^Ogres</a>
<li><a href='tree_orc.html'>race^Orcs</a>
<li><a href='tree_troll.html'>race^Trolls</a>
<li><a href='tree_undead.html'>race^Undead</a>
<li><a href='tree_wose.html'>race^Woses</a>
</ul>
<p><a href="tree_faction.html">Faction</a></p>
<ul>
<li><a href='tree_drakes-default.html'>Drakes</a>
<li><a href='tree_knalgans-default.html'>Knalgan Alliance</a>
<li><a href='tree_loyalists-default.html'>Loyalists</a>
<li><a href='tree_northerners-default.html'>Northerners</a>
<li><a href='tree_rebels-default.html'>Rebels</a>
<li><a href='tree_undead-default.html'>Undead</a>
</ul>
</body>
</html>
