<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../units.css" title="Eleazar">
  <title>Wesnoth unit list - Era of Myths - Tree</title>
</head>
<body>
<h1>Wesnoth unit list</h1>
<h3>Era of Myths</h3>
<p>Based on version<!-- --> X.X.X</p>
<p><a href="index.html">Back to start</a></p>
<table width=100% border=1>
   <tr class="first">
      <td width=20%>Level<!-- --> 0</td>
      <td width=20%>Level<!-- --> 1</td>
      <td width=20%>Level<!-- --> 2</td>
      <td width=20%>Level<!-- --> 3</td>
      <td width=20%>Level<!-- --> 4</td>
   </tr>
