<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="../units.css" title="Eleazar">
  <title>Wesnoth unit list - Tree</title>
</head>
<body>
<h1>The Battle for Wesnoth</h1> 
<h2>Unit List</h2>
<p>Based on version<!-- --> X.X.X</p>
<p><a href="index.html">Back to start</a></p>
<p>
<a href='#drakes'>Drakes</a>&nbsp
<a href='#knalgans'>Knalgan Alliance</a>&nbsp
<a href='#loyalists'>Loyalists</a>&nbsp
<a href='#northerners'>Northerners</a>&nbsp
<a href='#rebels'>Rebels</a>&nbsp
<a href='#undead'>Undead</a>&nbsp
</p>
<table width=100% border=1>
   <tr class="first">
      <td width=20%>Level<!-- --> 0</td>
      <td width=20%>Level<!-- --> 1</td>
      <td width=20%>Level<!-- --> 2</td>
      <td width=20%>Level<!-- --> 3</td>
      <td width=20%>Level<!-- --> 4</td>
   </tr>
