<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
<html lang="en">
<head>
  <link rel="stylesheet" href="../units.css" title="Eleazar">
  <title>{id}</title>
  <!--id={num}-->
</head>
<body>
<h1>{name}</h1>
<p>Level<!-- --> {level}</p>
<img src={image}>&nbsp;{image_female}
<p><b>Advances to: </b>
{advancetohtml}</p>
<p><b>Advance from: </b>
--advancefrom--</p>
<p>
   <b>HP: </b>{hitpoints}&nbsp;
   <b>Cost: </b>{cost}&nbsp;
   <b>Moves: </b>{movement}&nbsp;
   <b>Alignment: </b>
   <!-- -->{alignment}<!-- -->&nbsp;
   <b>XP: </b>{experience}
</p>
<p><b>Abilities: </b>
<!-- -->{abilities}</p>
<p style="font-size: smaller">{description}</p>
<h2>attacks</h2>
<table border=1>
   <th>
      <td><b>Name</b></td>
      <td><b>Type</b></td>
      <td><b>Strikes</b></td>
      <td><b>Range</b></td>
      <td><b>Special</b></td>
   </th>
--attacks--
</table>
<h2>Resistances</h2>
<table border=1>
   <tr>
      <td><b>blade</b></td>
      <td align=right>::blade::</td>
   </tr>
   <tr>
      <td><b>cold</b></td>
      <td align=right>::cold::</td>
   </tr>
   <tr>
      <td><b>fire</b></td>
      <td align=right>::fire::</td>
   </tr>
   <tr>
      <td><b>holy</b></td>
      <td align=right>::holy::</td>
   </tr>
   <tr>
      <td><b>impact</b></td>
      <td align=right>::impact::</td>
   </tr>
   <tr>
      <td><b>pierce</b></td>
      <td align=right>::pierce::</td>
   </tr>
   <tr>
      <td><b>psychic</b></td>
      <td align=right>::psychic::</td>
   </tr>
   <tr>
      <td><b>shadow</b></td>
      <td align=right>::shadow::</td>
   </tr>
</table>
<br>
<h2>Terrain Modifiers</h2>
<table border=1>
   <tr>
      <td><b>Terrain</b></td>
      <td><b>Movement</b></td>
      <td><b>Defense</b></td>
   </tr>
   <tr>
      <td>Castle</td>
      <td align=right>~castle~</td>
      <td align=right>::castle::</td>
   </tr>
   <tr>
      <td>Village</td>
      <td align=right>~village~</td>
      <td align=right>::village::</td>
   </tr>
   <tr>
      <td>Deep Water</td>
      <td align=right>~deep_water~</td>
      <td align=right>::deep_water::</td>
   </tr>
   <tr>
      <td>Shallow Water</td>
      <td align=right>~shallow_water~</td>
      <td align=right>::shallow_water::</td>
   </tr>
   <tr>
      <td>Grassland</td>
      <td align=right>~grassland~</td>
      <td align=right>::grassland::</td>
   </tr>
   <tr>
      <td>Forest</td>
      <td align=right>~forest~</td>
      <td align=right>::forest::</td>
   </tr>
   <tr>
      <td>Hills</td>
      <td align=right>~hills~</td>
      <td align=right>::hills::</td>
   </tr>
   <tr>
      <td>Mountains</td>
      <td align=right>~mountains~</td>
      <td align=right>::mountains::</td>
   </tr>
   <tr>
      <td>Swamp</td>
      <td align=right>~swamp_water~</td>
      <td align=right>::swamp_water::</td>
   </tr>
   <tr>
      <td>Sand</td>
      <td align=right>~sand~</td>
      <td align=right>::sand::</td>
   </tr>
   <tr>
      <td>Cave</td>
      <td align=right>~cave~</td>
      <td align=right>::cave::</td>
   </tr>
   <tr>
      <td>Snow</td>
      <td align=right>~tundra~</td>
      <td align=right>::tundra::</td>
   </tr>
   <tr>
      <td>Mushroom Grove</td>
      <td align=right>~fungus~</td>
      <td align=right>::fungus::</td>
   </tr>
   <tr>
      <td>Chasm</td>
      <td align=right>~canyon~</td>
      <td align=right>::canyon::</td>
   </tr>
</table>
<br>
<p style="font-size: smaller"><a href=index.html>Back to start</a></p>
</body>
</html>
