body {
  margin: 0;
  padding: 0;
  color: #555;
  background: #FFF;
  font-family: "Bitstream Vera Sans", "Trebuchet MS", Verdana, Arial, sans-serif;
}

code, pre {
  font-size: 1.2em;
  color: #000;
}

pre {
  padding: 8px;
  background: #F9F9F9;
}

a {
  color: #369;
}

a:visited {
  color: #036;
}

img {
  border: 0;
}

hr {
  display: none;
}

p {
  margin: 0 0 1em 0;
}


/**
 * Header
 */

#header {
  margin: 0;
  padding: 0 0 0 16%;
  background: #AA1;
  border-bottom: 2px solid #881;
}

#header h1 {
  margin: 0;
  padding: 4px 8px 4px 0;
  color: #881;
  font-family: Arial, sans-serif;
  font-size: 1.8em;
}

#header a {
  color: #881;
  text-decoration: none;
}


/**
 * Languages
 */

#languages {
  position: absolute;
  top: 12px;
  right: 0;
  margin: 0;
  padding: 0 16% 0 0;
  font-size: 0.8em;
}

#languages h3 {
  display: none;
}

#languages ul {
  margin: 0;
  padding: 0;
}

#languages li {
  display: inline;
  margin: 0;
  padding: 0 0 0 3px;
  list-style: none;
}

#languages a {
  color: #FFF;
  text-decoration: none;
}


/**
 * Main 
 */

#main {
  margin: 0;
  padding: 10px 16% 10px 16%;
  background: #FFF;
  font-size: 0.8em;
  line-height: 1.6em;
}

#main p {
  text-align: justify;
}

#main h2 {
  margin: 0.2em 0 0.4em 0;
  padding: 0.2em 0 0.2em 0;
  font-family: Arial, sans-serif;
  font-size: 1.8em;
  color: #555;
  border-bottom: 2px solid #EEE;
}

#main h3 {
  margin: 0;
  padding: 0 0 0.2em 0;
  font-family: Arial, sans-serif;
  font-size: 1.3em;
  color: #222;
}

#main h4 {
  margin: 0;
  padding: 0 0 0.2em 0;
  font-family: Arial, sans-serif;
  font-size: 1.1em;
  color: #555;
}

#main div.action {
  margin: 0 0 5px 5px;
  padding: 5px;
  background: #FEFEFE;
  border: 1px solid #EEE;
}

#main div.action p {
  margin: 0;
}


/**
 * Stories
 */

div.story div.story_title {
  padding: 3px 0;
}

div.story div.story_title h3 {
  display: inline;
}

div.story div.story_title .untranslated {
  margin-left: 4px;
  color: #C63;
}

div.story div.story_date {
  font-style: italic;
  font-size: 0.9em;
}


#footer {
  margin: 0;
  padding: 10px 16% 10px 16%;
  font-size: 0.75em;
}
