*.swp
.deps
.libs
wesnoth
wesnoth_editor
cutter
exploder
wesnothd
campaignd
wesnoth_zip
Makefile
Makefile.in
libwesnoth-core.a
libwesnoth.a
revision_stamp
revision_stamp.cpp
tags
test
wmllint
wmlscope
wmlindent
