*.swp
.deps
.libs
gmon.out
wesnoth
cutter
exploder
wesnothd
CMakeFiles
campaignd
cmake_install.cmake
wesnoth_zip
Makefile
Makefile.in
libcampaignd.a
libwesnoth_core.a
libwesnoth_extras.a
libwesnoth_sdl.a
libwesnoth-core.a
libwesnoth-game.a
libwesnothd.a
libwesnoth.a
libwesnoth-lua.a
libwesnoth-sdl.a
revision-stamp
revision.hpp
tags
test
wesnoth_addon_manager
wmllint
wmlscope
wmlindent
config.h
revision.dummy
#cmake/win32/MSVC:
*.vcproj
