*.swp
.deps
.libs
gmon.out
wesnoth
wesnoth_editor
cutter
exploder
wesnothd
campaignd
wesnoth_zip
Makefile
Makefile.in
libwesnoth-core.a
libwesnoth.a
revision-stamp
tags
test
wmllint
wmlscope
wmlindent
