name: Image metadata check CI

on:
  push:
    branches: [ master ]
    paths: [ '**.webp', '**.png', '**.jpg', '**.jpeg' ]
  pull_request:
    paths: [ '**.webp', '**.png', '**.jpg', '**.jpeg' ]
  
permissions:
  contents: read

jobs:
  build:
    name: Image Metadata
    runs-on: ubuntu-latest
    env:
      BASE_SHA: ${{ github.event_name == 'push' && github.event.before || github.event.pull_request.base.sha }}
      HEAD_SHA: ${{ github.event_name == 'push' && github.event.after  || github.event.pull_request.head.sha }}

    steps:
      - name: exiftool installation
        run: |
          sudo apt-get install --assume-yes exiftool

      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: check image metadata
        run: |
          mapfile -t image_files < <(git diff --name-only "$BASE_SHA" "$HEAD_SHA" | grep -E '\.(webp|png|je?pg)$')
          # cycle through the changed image files, make sure they have the right fields
          for file in "${image_files[@]}"; do
            # check Artist tag, fail if missing
            artist="$(exiftool -p '$Artist' "$file")"
            if [ "$artist" ]; then
              printf 'Artist tag in %s is %s\n' "$file" "$artist"
            else
              printf 'no Artist EXIF tag in %s\n' "$file"
              exit 1
            fi
            # check Copyright tag, fail if missing or wrong type
            copyright="$(exiftool -p '$Copyright' "$file")"
            case $copyright in
              'GNU GPL v2+'|'CC BY-SA 4.0'|CC0)
                printf 'Copyright tag in %s is %s\n' "$file" "$copyright"
                ;;
              '')
                printf 'no Copyright EXIF tag in %s\n' "$file"
                exit 1
                ;;
              *)
                printf 'Copyright tag %s in file %s is not an accepted license! Must be one of: "GNU GPL v2+", "CC BY-SA 4.0", "CC0"\n' "$copyright" "$file"
                exit 1
                ;;
            esac
          done
